.row
  .col-xs-12.hidden-xs
    .breadcrumb-container
      %ol.breadcrumb
        %li
          = link_to (admin_root_path) do
            %i.fas.fa-tachometer-alt
            %span= t("header.navigation.dashboard")
        %li
          = link_to (admin_purchase_receptions_path) do
            %i.far.fa-newspaper
            %span= t("purchase.receptions")
        %li.active
          %i.fa.fa-list-alt
          = "#{@count == 1 ? t('purchase.reception_detail') : t('purchase.reception_details')} ##{purchase.id}"
