-# Form
= form_for [:admin, @order], html: {autocomplete: "off", multipart: true} do |f|
  %section.form
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @order, model: Purchase}
          -# End Show errors

        .col-xs-12.col-md-8
          -# Material card
          %div{class: "material-card shadow-card #{@order.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info

                  .form-group.hidden
                    = f.hidden_field :employee_id, value: 1, required: true # current_employee.id

                  .form-group
                    = f.text_field :receipt_number, class: "form-control input", placeholder: t("activerecord.attributes.purchase.receipt_number")
                    %label
                      %b= t("activerecord.attributes.purchase.receipt_number")
                    .border-bottom

                  .col-xs-12.col-md-7.container-left

                    .form-group
                      .input-btn-group
                        = f.hidden_field :provider_id, required: true
                        = f.text_field :provider, value: @order.provider_id.nil? ? "" : "#{@order.provider.name}", class: "form-control input", placeholder: t("activerecord.attributes.product.category"), required: true, disabled: true
                        %label
                          %b= t("activerecord.attributes.purchase.provider")
                        .border-bottom

                        = link_to "", class: "btn btn-general", "data-toggle": "modal", "data-target": "#getProviders" do
                          %i.fas.fa-search

                    .col-xs-12.col-md-4.container-left
                      .form-group
                        = f.text_field :discount, class: "form-control input discount", placeholder: t("activerecord.attributes.purchase.discount")
                        %label
                          %b= "#{t('activerecord.attributes.purchase.discount')} %"
                        .border-bottom

                    .col-xs-12.col-md-8.container-right
                      .form-group
                        .input-group.date#datetimepicker
                          = f.text_field :purchase_datetime, id: "purchase_datetime_picker", class: "form-control input date-field", placeholder: t("activerecord.attributes.purchase.purchase_datetime"), required: true
                          %span.input-group-addon.btn.btn-general
                            %i.far.fa-calendar-alt
                          %label
                            %b= t("activerecord.attributes.purchase.purchase_datetime")
                          .border-bottom

                      = f.hidden_field :purchase_datetime, required: true

                    .form-group.hidden
                      = f.text_field :status, class: "form-control input", placeholder: t("activerecord.attributes.purchase.status")
                      %label
                        %b= t("activerecord.attributes.purchase.status")
                      .border-bottom

                  .col-xs-12.col-md-5.container-right
                    .form-group
                      = f.text_area :observations, class: "form-control input text-area big",placeholder: t("activerecord.attributes.purchase.observations")
                      %label
                        %b= t("activerecord.attributes.purchase.observations")
                      .border-bottom

                  .col-xs-12.no-padding.container-add-products
                    = link_to "", class: "btn btn-general", "data-toggle": "modal", "data-target": "#getProducts" do
                      %i.fas.fa-plus
                      %span= t("purchase.add_products")

                  .col-xs-12.no-padding
                    -# Table
                    %table.table
                      %thead
                        - model = "product"
                        - attributes = ["name", "price", "quantity", "total", "select"]

                        -# Render table header
                        = render partial: "partials/table_header_details", locals: {model: model, attributes: attributes}
                      %tbody#purchase_details


                    -# End Table

                  -# Buttons
                  .main-buttons
                    .col-xs-12.button-container.no-padding
                      = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                        %i.fas.fa-eraser
                        %span= t("views.form.restart")

                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons

                  = f.fields_for :purchase_details do |detail|
                    = render "purchase_detail_fields", f: detail

                  .links
                    = link_to_add_association "Add Detail", f, :purchase_details, class: "btn btn-general", data: { association_insertion_node: "#purchase_details", association_insertion_method: :prepend}
          -# End Material card

        .col-xs-12.col-md-4
          -# Material card
          %div{class: "material-card shadow-card #{@order.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
          -# End Material card



-# End Form

-# Modal
.modal.fade{id: "getProviders", tabindex: "-1", role: "dialog", "aria-labelledby": "", "aria-hidden": "true"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{type: "button", "data-dismiss": "modal", "aria-hidden": "true", "data-toggle": "tooltip", "data-placement": "left", title: t("views.form.close")}
          &times;

        -# Render providers list
        = render "modal_providers"
        -# End Render providers list

-# Modal
.modal.fade{id: "getProducts", tabindex: "-1", role: "dialog", "aria-labelledby": "", "aria-hidden": "true"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{type: "button", "data-dismiss": "modal", "aria-hidden": "true", "data-toggle": "tooltip", "data-placement": "left", title: t("views.form.close")}
          &times;

        -# Render products list
        = render "modal_products"
        -# End Render products list
