%tr.nested-fields
  %td.hidden
    = f.hidden_field :product_id, value: "3"

  %td.hidden
    = f.hidden_field :status, value: "ordered"

  %td
    %p.record-link{"data-header": "Nombre"}
      = f.text_field :product, class: "input-disabled", value: "Testing"

  %td
    %p.record-link{"data-header": "Precio"}
      = f.text_field :price, class: "input-disabled", value: "152.50"

  %td.quantity-container.align-middle
    .form-group.no-padding.record-link{"data-header": "Cantidad"}
      .quantity
        %button.subtract{name: "minus", type: "button"}
          %i.fas.fa-minus

        = f.number_field :quantity, class: "q-input", min: "1", step: "1", value: "1"

        %button.add{name: "plus", type: "button"}
          %i.fas.fa-plus

  %td.align-middle.total-container
    %p.record-link{"data-header": "Total"}
      $ 00.00

  %td.align-middle
    = link_to_remove_association f, class: "btn btn-general" do
      %i.fas.fa-trash-alt
