%tr{class: "clickable-row #{purchase_detail.status.downcase}"}
  -# Set attributes
  - attributes = ["purchase_id", "product", "price", "quantity", "total", "stock", "status"]

  %td
    %a.record-link
      %p= purchase_detail.id

  - attributes.each do |attribute|
    %td
      %a.record-link
        %p
          - if attribute == "product"
            %p= I18n.locale == :es ? purchase_detail.product.name_spanish : purchase_detail.product.name

          - elsif attribute == "price"
            %p= number_to_currency(purchase_detail.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

          - elsif attribute == "total"
            %p= number_to_currency((purchase_detail.price * purchase_detail.quantity), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

          - else
            %p= purchase_detail["#{attribute}"]
