%tr{class: "clickable-row #{purchase.state}", "data-href": "#{admin_purchase_order_path(purchase)}"}
  -# Set attributes
  - attributes = ["receipt_number", "purchase_datetime", "provider", "employee", "status", "discount" ,"observations"]

  %td
    = link_to admin_purchase_order_path(purchase), class: "record-link", "data-header": "No.", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
      %p= purchase.id

  - attributes.each do |attribute|
    %td
      = link_to admin_purchase_order_path(purchase), class: "record-link", "data-header": t("activerecord.attributes.purchase.#{attribute}"), "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
        - if attribute == "provider"
          %p= purchase.provider.name

        - elsif attribute == "employee"
          %p= "#{purchase.employee.first_name} #{purchase.employee.last_name}"

        - elsif attribute == "purchase_datetime"
          -# %p= I18n.l(purchase["#{attribute}"], format: :short)
          %p= I18n.locale == :es ? purchase["#{attribute}"].strftime("%d/%m/%Y") : purchase["#{attribute}"].strftime("%m/%d/%Y")

        - else
          %p= purchase["#{attribute}"]
