%section.wrap
  .banner.grad-section
    .container-fluid
      .row
        .col-xs-12
          %h1.search-title.text-center= t("views.cart.cart")

    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .search-container.animated.opacity-up{"data-delay": "1500", "data-scroll": "0"}
            -# Render search_form
            = render "layouts/search_form"
            -# End Render search_form

  #cart-content.main-content
    .container
      .row
        .col-xs-12.col-md-8
          #cart-detail-card.white-card
            .cart-table
              .table-head.hidden-xs
                .image-column
                .info
                  .name-column
                    %span= t("views.cart.product")
                  .price-column
                    %span= t("views.cart.price")
                  .quantity-column
                    %span= t("views.cart.quantity")
                  .total-column
                    %span= t("views.cart.total")

              -# Product list
              .cart-list

        .col-xs-12.col-md-4
          #paid-detail-card.white-card
            .summary
              %h2.summary-title= t("views.cart.summary")
              .summary-detail
                .summary-item.sub-total
                  %span.description= t("views.cart.subtotal")
                  %span.mount#subtotal
                .summary-item.shipping
                  %span.description= t("views.cart.shipping")
                  %span.mount#shipping
                %hr/
                .summary-item.total
                  %span.description= t("views.cart.total")
                  %span.mount#total
            .direction
              .default-group
                - if current_customer
                  -# Customer detail Sync
                  = sync partial: "current_address", resource: current_customer
                  = sync_new partial: "current_address", resource: Customer.new
                  -# End Customer detail Sync

              %label.new-check.collapsed{"aria-controls": "address-group", "aria-expanded": "false", "data-target": "#address-group", "data-toggle": "collapse"}
                %input{type: "checkbox"}/
                %span= t("views.cart.different_address")
              #address-group.new-group.collapse
                .pad
                  .form-group
                    %textarea.form-control.input.text-area.address#address-field{name: "new_address", required: "required"}
                    %label= t("views.cart.shipping_address")
                    .border-bottom

            .payment
              %a#btn-stripe.btn.btn-general.btn-paid.collapsed{"aria-controls": "stripe", "aria-expanded": "false", "data-target": "#stripe", "data-toggle": "collapse"}= t("views.cart.pay_credit_card")
              #stripe.collapse
                .payment-form
                  %form#card-form{action: "", method: ""}
                    #name-group.group
                      %input#name-field{name: "name", required: "required", type: "text"}/
                      %span.highlight
                      %span.bar
                      %label= t("views.cart.name")
                    #number-group.group
                      %input#number-field{name: "number", required: "required", type: "tel"}/
                      %span.highlight
                      %span.bar
                      %label= t("views.cart.card_number")
                    .inline
                      #expiry-group.group
                        %input#expiry-field{name: "expiry", required: "required", type: "tel"}/
                        %span.highlight
                        %span.bar
                        %label= t("views.cart.expiration")
                      #cvc-group.group
                        %input#cvc-field{name: "cvc", required: "required", type: "number"}/
                        %span.highlight
                        %span.bar
                        %label= t("views.cart.security_code")
                    %button#proceed-btn.btn.btn-general{name: "proceed", type: "submit"}= t("views.cart.proceed")
                  .cc-container
                    .card-wrapper
              %p.text-center.divider= t("views.cart.or")
              = form_tag paypal_auth_path, method: "post", id: "paypal-form" do
                -# Loading cart productss
                -# #paypal-products

                %button#btn-paypal.btn.btn-general.btn-paid{name: "paypal", type: "submit"}
                  = t("views.cart.checkout_paypal")
                  = image_tag "#{Rails.env.development? ? 'img/paypal.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/paypal.svg'}", class: "hidden-xs hidden-md"

                  = image_tag "#{Rails.env.development? ? 'img/paypal-vertical.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/paypal-vertical.svg'}", class: "hidden-sm hidden-lg"

              %p.text-center.skep-container
                %a{href: "#"}
                  = t("views.cart.skip_cash")
                  %i.fas.fa-angle-double-right
