<section class="message">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <!-- Material card -->
        <div class="material-card shadow-card true">
          <div class="row no-margin">
            <% if flash.any? %>

            <div class="col-xs-12 no-padding auth-alerts">
              <% if !flash[:alert].blank? %>
              <strong><p class="flash-alert"><i class="fas fa-exclamation-triangle"></i> <%= flash[:alert] %></p></strong>
              <% end %>

              <% if !flash[:notice].blank? %>
              <strong><p class="flash-notice"><i class="fas fa-info-circle"></i> <%= flash[:notice] %></p></strong>
              <% end %>
            </div>

            <% end %>


            <div class="col-xs-12 no-padding form">
              <h1><%= t("views.authentication.resend_reset_password_instructions") %></h1>
            </div>

            <div class="col-xs-12 no-padding form">
              <!-- Form -->
              <%= form_for :resend_reset_password, url: admin_resend_reset_password_path, html: {class: "", autocomplete: "on"} do |f| %>
              <div class="col-xs-12 no-padding">
                <div class="form-info">

                  <div class="form-group">
                    <%= f.email_field :email, class: "form-control input", placeholder: t("activerecord.attributes.employee.email"), required: true, autofocus: true, value: @email %>
                    <label><b><%= t("activerecord.attributes.employee.email") %></b></label>
                    <div class="border-bottom"></div>
                  </div>

                  <!-- Recaptcha -->
                  <div class="form-group text-center">
                    <%= recaptcha_tags id: "recaptcha-center", hl: I18n.locale %>
                  </div>
                  <!-- End Recaptcha -->

                  <div class="main-buttons sessions">
                    <div class="col-xs-12 col-sm-12 button-container center no-padding">
                      <%= f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do %><i class="fas fa-envelope"></i> <span><%= t("views.authentication.resend") %></span> <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <!-- End Form -->
            </div>

            <div class="col-xs-12 no-padding redirect-container">
              <p><%= link_to admin_root_path, title: "t('views.errors.back_to_home')" do %><i class="fas fa-undo-alt"></i> <span><%= t("views.errors.back_to_home") %></span><% end %></p>
            </div>
          </div>
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
