-# Index
%section.index
  .container-fluid
    .row
      .col-xs-12
        -# Material card
        .material-card.shadow-card
          -# Title
          .row.no-margin.title-container
            .col-xs-12.col-lg-12
              -# Heading
              %h1
                %i.fas.fa-list-alt
                = t("header.navigation.products")
              -# End Heading
          -# End Title

          .row.no-margin
            -# Search record
            .col-xs-12.col-md-6.no-padding
              #search-record.search-record
                -# Form
                = form_tag @search_form_path, method: "get", id: "search-form", autocomplete:"off", remote: true do
                  .input-group
                    = text_field_tag :search_product, params[:search_product], id: "search-input-products", class: "form-control"
                    .border-bottom

                    %span.input-group-btn
                      = button_tag t("elements.search"), id: "search-btn-products", class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"}, "data-toggle": "tooltip", "data-placement": "top", title: t("views.landing.search") do
                        %i.fas.fa-search
                -# End Form
            -# End Search record

            .col-xs-12.col-md-6.no-padding.text-right

          -# Render table and pagination with Ajax
          #render-search-products
            = render "products_search"
          -# End Render table and pagination with Ajax
        -# End Material card
-# End Index
