-# Form Title
%section.form-title
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-sm-4.col-lg-8
        -# Heading
        %h1{class: "#{@order.state}"}
          %i.fas.fa-edit
          = t("views.edit.edit")
        -# End Heading

      .col-xs-12.col-sm-8.col-lg-4
        -# Provider button
        .btn-container
          = link_to (admin_purchase_details_path(@order.id)), class: "btn btn-general" do
            %i.fas.fa-id-card
            %span= t("purchase.order_details")
        -# End Provider button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path) do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_purchase_orders_path) do
                %i.far.fa-newspaper
                %span= t("purchase.orders")
            %li
              = link_to (admin_purchase_details_path(@order.id)) do
                %i.fas.fa-list-alt
                = "#{t('purchase.order_details')} ##{@order.id}"
            %li.active
              %i.fas.fa-edit
              = t("views.edit.edit")
    -# End Breadcrumb
-# End Form Title

-# Render form
= render "admin/purchases/orders/form"
-# End Render form
