-# History
%section.history
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-8
        -# Heading
        %h1.false
          %i.fas.fa-history
          = t("views.history.history")
        -# End Heading

      .col-xs-12.col-lg-4
        -# Employee button
        .btn-container
          = link_to (admin_purchase_details_path(@order.id)), class: "btn btn-general" do
            %i.fas.fa-id-card
            %span= t("purchase.order_details")
        -# End Employee button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path) do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_purchase_orders_path) do
                %i.far.fa-newspaper
                %span= t("purchase.orders")
            %li
              = link_to (admin_purchase_details_path(@order.id)) do
                %i.fa.fa-list-alt
                = "#{t('purchase.order_details')} ##{@order.id}"
            %li.active
              %i.fas.fa-history
              = t("views.history.history")
    -# End Breadcrumb

    -# Render timeline
    - model = Purchase
    = render partial: "partials/timeline", locals: {model: model}
    -# End Render timeline
-# End History
