%tr{class: "clickable-row #{sale_detail.status.downcase}"}
  -# Set attributes
  -# - attributes = ["product", "price", "quantity", "total", "status"]
  - attributes = ["product", "price", "quantity", "total"]

  %td
    .record-link{"data-header": "No."}
      %p= sale_detail.id

  - attributes.each do |attribute|
    %td
      .record-link{"data-header": t("activerecord.attributes.sale_detail.#{attribute}")}
        - if attribute == "product"
          -# Product name render_sync
          = sync partial: "data_table_product_name", resource: sale_detail.product
          -# = sync_new partial: "data_table_product_name", resource: Product.new
          -# End Product name render_sync

        - elsif attribute == "price"
          %p= number_to_currency(sale_detail.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

        - elsif attribute == "total"
          %p= number_to_currency((sale_detail.price * sale_detail.quantity), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

        - else
          %p= sale_detail["#{attribute}"]
