%tr{class: "clickable-row #{category.state}", "data-href": "#{admin_category_path(category)}"}
  -# Set attributes
  - if I18n.locale == :es
    - attributes = ["name_spanish", "description_spanish"]

  - else
    - attributes = ["name", "description"]

  %td
    = link_to admin_category_path(category), class: "record-link", "data-header": "No.", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
      %p= category.id

  - attributes.each do |attribute|
    %td
      = link_to admin_category_path(category), class: "record-link", "data-header": t("activerecord.attributes.category.#{attribute}"), "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
        %p= category["#{attribute}"]
