-# Details
%section.details
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-sm-6.col-md-8
        -# Heading
        %h1{class: "#{category.state}"}
          %i.fas.fa-id-card
          - if I18n.locale == :es
            = category.name_spanish

          -else
            = category.name
        -# End Heading

      .col-xs-12.col-sm-6.col-md-4.text-right
        -# Export button
        .btn-container.inline
          = link_to (admin_category_path(category, format: "pdf", lang: I18n.locale)), target: "_blank", class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.export") do
            %i.fas.fa-download
            %span= t("views.index.export")
        -# End Export button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.dashboard") do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_categories_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.categories") do
                %i.fas.fa-list-alt
                %span= t("header.navigation.categories")
            %li.active
              %i.fas.fa-id-card
              - if I18n.locale == :es
                = category.name_spanish

              -else
                = category.name
    -# End Breadcrumb

    -# Information
    .row
      .col-xs-12.col-md-5.col-lg-4
        -# Material card
        %div{class: "material-card shadow-card #{category.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              .general-info
                -# Image
                .image-container
                  - if category.image.attached?
                    = image_tag url_for(category.image), class: "img-responsive"

                  - else
                    = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), class: "img-responsive"
                -# End Image

                .main-info
                  %p= t("views.show.created_at", time: time_ago_in_words(category.created_at))
                  %p= t("views.show.updated_at", time: time_ago_in_words(category.updated_at))

                .main-buttons
                  .col-xs-12.col-sm-4.col-md-6.button-container.no-padding
                    = link_to (admin_edit_category_path(category)), class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.show.edit") do
                      %i.fas.fa-edit
                      %span= t("views.show.edit")

                  .col-xs-12.col-sm-4.col-md-6.button-container.no-padding
                    = link_to (admin_history_category_path(category)), class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.show.history") do
                      %i.fas.fa-history
                      %span= t("views.show.history")

                  .col-xs-12.col-sm-4.col-md-12.button-container.no-padding
                    - if(category.state)
                      = link_to (admin_deactive_category_path(category)), method: "patch", class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.show.disable") do
                        %i.fas.fa-times
                        %span= t("views.show.disable")

                    - else
                      = link_to (admin_active_category_path(category)), method: "patch", class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.show.enable") do
                        %i.fas.fa-check
                        %span= t("views.show.enable")
        -# End Material card

      .col-xs-12.col-md-7.col-lg-8
        -# Material card
        %div{class: "material-card shadow-card #{category.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              %div{class: "detail-info #{category.state}"}
                -# Set attributes
                - if I18n.locale == :es
                  - attributes = [["name", "name_spanish"], ["description", "description_spanish"], ["state", "state"]]
                - else
                  - attributes = [["name", "name"], ["description", "description"], ["state", "state"]]

                - attributes.each do |title, attribute|
                  .info
                    %p.title
                      %b= t("activerecord.attributes.category.#{title}")

                    - if attribute == "state"
                      %p= category["#{attribute}"] ? t("views.show.enabled") : t("views.show.disabled")

                    - else
                      %p= category["#{attribute}"]
        -# End Material card
    -# End Information
-# End Details
