<!-- Form -->
<%= form_for :sign_in, url: admin_sign_in_path, html: {class: "sign-in-form", autocomplete: "on"} do |f| %>
<section class="form">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <!-- Material card -->
        <div class="material-card shadow-card true">
          <div class="row no-margin">

            <div class="col-xs-12 no-padding">
              <div class="logo-container text-center">
                <!-- Logo -->
                <p class="banp-logo black">BANP</p>
                <!-- End Logo -->
              </div>
            </div>

            <% if flash.any? %>

            <div class="col-xs-12 no-padding auth-alerts">
              <% if !flash[:alert].blank? %>
              <strong><p class="flash-alert text-center"><i class="fas fa-exclamation-triangle"></i> <%= flash[:alert] %></p></strong>
              <% end %>

              <% if !flash[:notice].blank? %>
              <strong><p class="flash-notice text-center"><i class="fas fa-info-circle"></i> <%= flash[:notice] %></p></strong>
              <% end %>
            </div>

            <% end %>

            <div class="col-xs-12 no-padding">
              <div class="form-info">
                <div class="form-group">
                  <%= f.email_field :email, class: "form-control input", placeholder: t("activerecord.attributes.employee.email"), required: true, autofocus: true %>
                  <label><b><%= t("activerecord.attributes.employee.email") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, class: "form-control input", placeholder: t("activerecord.attributes.employee.password_digest"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.password_digest") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <!-- Recaptcha -->
                     <!--  
                     <div class="form-group text-center">
           < recaptcha_tags id: "recaptcha-center", hl: I18n.locale > 
                  
                                   </div>
                                    -->
                <!-- End Recaptcha -->

                <div class="main-buttons sessions">
                  <div class="col-xs-12 col-sm-12 button-container no-padding">
                    <%= link_to (admin_reset_password_path), class: "forgot-pass hidden-xs" do %><i class="fas fa-chalkboard-teacher"></i> <span><%= t("views.form.forgot_password") %></span><% end %>
                  
                    
                    <%= invisible_recaptcha_tags text: "<i class='fas fa-fingerprint'></i> <span>#{t('views.form.sign_in')}</span>", class: "btn btn-general" %> 
                    
                    <%= link_to (admin_reset_password_path), class: "forgot-pass visible-xs" do %><i class="fas fa-chalkboard-teacher"></i> <span><%= t("views.form.forgot_password") %></span><% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<% end %>
<!-- End Form -->
