<!-- Form -->
<%= form_for :two_factor, url: admin_two_factor_auth_path, html: {class: "sign-in-form", autocomplete: "on"} do |f| %>
<section class="form">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <!-- Material card -->
        <div class="material-card shadow-card true">
          <div class="row no-margin">

            <div class="col-xs-12 no-padding">
              <h1 class="text-center"><%= t("views.authentication.two_factor_auth") %></h1>
              <p class="text-center"><%= t("views.authentication.two_factor_auth_desc") %></p>
            </div>

            <% if flash.any? %>

            <div class="col-xs-12 no-padding auth-alerts">
              <% if !flash[:alert].blank? %>
              <strong><p class="flash-alert text-center"><i class="fas fa-exclamation-triangle"></i> <%= flash[:alert] %></p></strong>
              <% end %>

              <% if !flash[:notice].blank? %>
              <strong><p class="flash-notice text-center"><i class="fas fa-info-circle"></i> <%= flash[:notice] %></p></strong>
              <% end %>
            </div>

            <% end %>

            <div class="col-xs-12 no-padding">
              <div class="form-info">
                <div class="form-group">
                  <%= f.text_field :otp, class: "form-control input", "data-mask": "000000", placeholder: t("activerecord.attributes.employee.two_factor_auth_otp"), required: true, autofocus: true %>
                  <label><b><%= t("activerecord.attributes.employee.two_factor_auth_otp") %></b></label>
                  <div class="border-bottom"></div>
                </div>


                <!-- Recaptcha -->
                <div class="form-group text-center">
                  <%= recaptcha_tags id: "recaptcha-center", hl: I18n.locale %>
                </div>
                <!-- End Recaptcha -->

                <div class="main-buttons sessions">
                  <div class="col-xs-12 col-sm-12 button-container no-padding">

                    <%= link_to (admin_resend_otp_path), class: "forgot-pass hidden-xs", method: :patch do %><i class="fas fa-comment"></i> <span><%= t("views.form.resend_otp") %></span><% end %>

                    <%= f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do %><i class="fas fa-id-badge"></i> <span><%= t("views.form.verify") %></span> <% end %>

                    <%= link_to (admin_resend_otp_path), class: "forgot-pass visible-xs", method: :patch do %><i class="fas fa-comment"></i> <span><%= t("views.form.resend_otp") %></span><% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<% end %>
<!-- End Form -->

<!-- Display password -->
<%= javascript_include_tag "display-password", "data-turbolinks-track": "reload" %>
<!-- End Display password -->

<!-- Jquery Mask -->
<%= javascript_include_tag "jquery-mask/jquery.mask", "data-turbolinks-track": "reload" %>
<!-- End Jquery Mask -->
