-# PDF resource
-# resource
-# End PDF resource

-# Index PDF
%section.index.index-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      .col-xs-4
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding.details
              .general-info
                .main-info
                  %p= I18n.l(@purchase.purchase_datetime, format: I18n.locale == :es ? "%A, %d #{t('purchase.of')} %B #{t('purchase.of')} %Y" : "%A, %B %d, %Y").capitalize
                  %p= I18n.l(@purchase.purchase_datetime, format: I18n.locale == :es ? "%I:%M:%S %p" : "%H:%M:%S")

                %br

                .main-info.text-left-right
                  %p.text-left
                    %b
                      %i.fas.fa-building
                      %span= t("activerecord.models.provider")
                  %p.text-right= @purchase.provider.name

                .main-info.text-left-right

                  %p.text-left
                    %b
                      %i.fas.fa-briefcase
                      %span= t("activerecord.models.employee")
                  %p.text-right= "#{@purchase.employee.first_name} #{@purchase.employee.last_name}"

                %br

                .main-info.text-left-right
                  %p.text-left
                    %b Subtotal
                  %p.text-right= "#{number_to_currency(Purchase.total(@purchase.id), precision: 2, unit: '$', format: '%u%n', separator: '.', delimiter: ',')}"

                .main-info.text-left-right
                  %p.text-left
                    %b= "#{t('activerecord.attributes.purchase.discount')} (#{@purchase.discount}%)"
                  %p.text-right="- #{number_to_currency((Purchase.total(@purchase.id) * (@purchase.discount / 100)), precision: 2, unit: '$', format: '%u%n', separator: '.', delimiter: ',')}"

                .main-info.text-left-right
                  .divider

                .main-info.text-left-right
                  %p.text-left
                    %b Total
                  %p.text-right= number_to_currency((Purchase.total(@purchase.id) - (Purchase.total(@purchase.id) * (@purchase.discount / 100))), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                .main-info
                  %p= t("views.show.created_at", time: time_ago_in_words(@purchase.created_at))
                  %p= t("views.show.updated_at", time: time_ago_in_words(@purchase.updated_at))
        -# End Material card

      .col-xs-8
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding
              -# Table
              %table.table.table-pdf
                -# Set attributes
                - model = "purchase_details"
                - attributes = ["product", "price", "quantity", "total_purchase_detail", "status"]

                -# Render table header
                = render partial: "partials/table_header", locals: {model: model, attributes: attributes}
                %tbody
                  - resource.each do |info|
                    -# Render table information
                    = render partial: "partials/information_table", locals: {resource: info, attributes: attributes}
              -# End Table
        -# End Material card
-# End Index PDF
