%section.panel.how-we-work{"data-section-name": "how-we-work"}
  .center-content.section-center
    .container
      .row
        .col-xs-12
          %h2.section-title.text-center.animated.opacity-down{"data-delay": "0", "data-scroll": "auto"}= t("views.landing.how_we_work")
        .col-xs-12.col-sm-10.col-sm-offset-1
          .text-content.text-center.animated.opacity-up.responsive-element{"data-delay": "0", "data-scroll": "auto"}
            %p= t("views.landing.how_we_work_description")

        .col-xs-12.col-sm-10.col-sm-offset-1
          .flow-chart.responsive-element
            .flow-child.icon-container.icon-1.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}
              .order 1
              .img-container
                = image_tag "#{Rails.env.development? ? 'img/icon-user.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/icon-user.svg'}", class: "img-responsive"
              %p.description.text-center
                %a{href: "#"}= t("views.landing.sign_up")
                = t("views.landing.or_just")
                %a{href: "#"}= t("views.landing.sign_in")
                = t("views.landing.already_account")

            .flow-child.icon-container.icon-2.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}
              .order 2
              .img-container
                = image_tag "#{Rails.env.development? ? 'img/icon-select.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/icon-select.svg'}", class: "img-responsive"
              %p.description.text-center
                = t("views.landing.select_the")
                = link_to t("views.landing.products"), products_path
                = t("views.landing.that_need")

            .flow-child.icon-container.icon-3.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}
              .order 3
              .img-container
                = image_tag "#{Rails.env.development? ? 'img/icon-check.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/icon-check.svg'}", class: "img-responsive"
              %p.description.text-center
                = t("views.landing.check_out")
                %a{href: "#"}= t("views.landing.purchase_order")

            .flow-child.icon-container.icon-4.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}
              .order 4
              .img-container
                = image_tag "#{Rails.env.development? ? 'img/icon-card.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/icon-card.svg'}", class: "img-responsive"
              %p.description.text-center
                = t("views.landing.pay_your")
                %a{href: "#"}= t("views.landing.purchase_order")

            .flow-child.icon-container.icon-5.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}
              .order 5
              .img-container
                = image_tag "#{Rails.env.development? ? 'img/icon-deliver.svg' : 'https://s3.amazonaws.com/betterandnice/images/default/icon-deliver.svg'}", class: "img-responsive"
              %p.description.text-center
                = t("views.landing.wait_delivery")

%section.panel.our-products{"data-section-name": "our-products"}
  .center-content.section-center
    .container
      .row
        .col-xs-12
          %h2.section-title.text-center.animated.opacity-up{"data-delay": "0", "data-scroll": "auto"}= t("views.landing.our_products")

    .container
      .col-xs-12
        .all-container
          .rectangle.hidden-xs.animated.scale{"data-delay": "0", "data-scroll": "auto"}
          .explosion-container.animated.opacity-down{"data-delay": "500", "data-scroll": "auto"}
            = image_tag "img/fruits-basket.png", class: "img-responsive"

          .produce-list.visible
            %p.heading.text-center
              %a.details.collapsed{"aria-expanded": "false", "data-toggle": "collapse", href: "#products-detail"}= t("views.landing.details")
            #products-detail.details-list.collapse
              .all-contains
                %h3.text-center.list-title= t("views.landing.categories")
                %ul.categories-list
                  - @categories.each do |category|
                    %li
                      - if I18n.locale == :es
                        = link_to category.name_spanish, products_path(category: category.slug)

                      - else
                        = link_to category.name, products_path(category: category.slug)

                %p.text-center.view-all-container
                  %a.view-all{href: "#"}= t("views.landing.view_all_products")
