-# Details
%section.details
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-sm-6.col-md-8
        -# Heading
        %h1{class: "#{product.state}"}
          %i.fas.fa-id-card
          = I18n.locale == :es ? product.name_spanish : product.name
        -# End Heading

      .col-xs-12.col-sm-6.col-md-4.text-right
        -# Export button
        .btn-container.inline
          = link_to (admin_product_path(product, format: "pdf", lang: I18n.locale)), target: "_blank", class: "btn btn-general" do
            %i.fas.fa-download
            %span= t("views.index.export")
        -# End Export button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path) do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_products_path) do
                %i.fas.fa-list-alt
                %span= t("header.navigation.products")
            %li.active
              %i.fas.fa-id-card
              = I18n.locale == :es ? product.name_spanish : product.name
    -# End Breadcrumb

    -# Information
    .row
      .col-xs-12.col-md-5.col-lg-4
        -# Material card
        %div{class: "material-card shadow-card #{product.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              .general-info
                -# Image
                .image-container
                  - if product.image.attached?
                    = image_tag url_for(product.image), class: "img-responsive"

                  - else
                    = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), class: "img-responsive"
                -# End Image

                .main-info
                  %p= t("views.show.created_at", time: time_ago_in_words(product.created_at))
                  %p= t("views.show.updated_at", time: time_ago_in_words(product.updated_at))

                .main-buttons
                  .col-xs-12.col-sm-4.col-md-6.button-container.no-padding
                    = link_to (admin_edit_product_path(product)), class: "btn btn-general" do
                      %i.fas.fa-edit
                      %span= t("views.show.edit")

                  .col-xs-12.col-sm-4.col-md-6.button-container.no-padding
                    = link_to (admin_history_product_path(product)), class: "btn btn-general" do
                      %i.fas.fa-history
                      %span= t("views.show.history")

                  .col-xs-12.col-sm-4.col-md-12.button-container.no-padding
                    - if product.state
                      = link_to (admin_deactive_product_path(product)), method: "patch", class: "btn btn-general" do
                        %i.fas.fa-times
                        %span= t("views.show.disable")

                    - else
                      = link_to (admin_active_product_path(product)), method: "patch", class: "btn btn-general" do
                        %i.fas.fa-check
                        %span= t("views.show.enable")
        -# End Material card

      .col-xs-12.col-md-7.col-lg-8
        -# Material card
        %div{class: "material-card shadow-card #{product.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              %div{class: "detail-info #{product.state}"}
                -# Set attributes
                - attributes = I18n.locale == :es ? [["name_spanish", "name"], ["price", "price"], ["category.name_spanish", "category"], ["stock", "stock"], ["content_spanish", "content"], ["description_spanish", "description"], ["recipes_spanish", "recipes"], ["state", "state"], ["barcode", "barcode"]] : [["name", "name"], ["price", "price"], ["stock", "stock"], ["category.name", "category"], ["content", "content"], ["description", "description"], ["recipes", "recipes"], ["state", "state"], ["barcode", "barcode"]]

                - attributes.each do |attribute, title|
                  .info
                    %p.title
                      %b= t("activerecord.attributes.product.#{title}")

                    - if attribute == "state"
                      %p= product.state ? t("views.show.enabled") : t("views.show.disabled")

                    - elsif attribute == "category.name_spanish"
                      -# Category name render_sync
                      = sync partial: "details_category_name_spanish", resource: product.category
                      = sync_new partial: "details_category_name_spanish", resource: Category.new
                      -# End Category name render_sync

                    - elsif attribute == "category.name"
                      -# Category name render_sync
                      = sync partial: "details_category_name", resource: product.category
                      = sync_new partial: "details_category_name", resource: Category.new
                      -# End Category name render_sync

                    - elsif attribute == "price"
                      %p= number_to_currency(product.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                    - elsif attribute == "barcode"
                      %svg.barcode{"jsbarcode-format": "CODE128", "jsbarcode-value": "#{product.barcode}", "jsbarcode-lineColor": "#333333", "jsbarcode-background": "#fff", "jsbarcode-fontSize": "16px", "jsbarcode-font": "Montserrat"}

                    - else
                      %p= product["#{attribute}"]
        -# End Material card
    -# End Information
-# End Details
