%div{class: "row product-row #{product.state}"}
  .col-xs-12.col-sm-6.col-lg-5
    -# Image
    - if product.image.attached?
      = image_tag url_for(product.image), class: "img-responsive"

    - else
      = image_tag url_for("https://res.cloudinary.com/reymundotenorio/image/upload/v1563543090/BANP/product-arkansas-black-apple.png"), class: "img-responsive"

  .col-xs-12.col-sm-6.col-lg-7
    .details-content
      %h2.name.aligned-text
        = I18n.locale == :es ? product.name_spanish : product.name

      %p.pricing.aligned-text
        = number_to_currency(product.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")
        %span.unit= t("views.products.per_box")

      -# Out of Stock
      - if product.stock < 1
        .stock
          %p.no-margin= t("views.products.out_stock")

      - else
        .stock.available
          %p.no-margin= t("sale.available")

      %p.general.aligned-text
        = I18n.locale == :es ? product.content_spanish : product.content

      - if product.stock > 0
        %form.link-container.aligned-text.addCart{action: "", method: ""}
          .quantity

            -# Minus
            %button.subtract{name: "minus", type: "button"}
              %span.sr-only minus
              %i.fas.fa-minus

            %input.q-input#quantity{name: "quantity", type: "number", value: "1", min: "1", step: "1"}/

            -# Plus
            %button.add{name: "plus", type: "button"}
              %span.sr-only plus
              %i.fas.fa-plus

            %input#productId{name: "productId", type: "hidden", value: "#{product.id}"}/

          %button.addToCart.btn.btn-general.add-btn{name: "add", type: "button"}= t("views.products.add_cart")

      #details-accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title.aligned-text
              %a{"data-parent": "#description", "data-toggle": "collapse", href: "#description"}
                = t("activerecord.attributes.product.description")
                %i.fas.fa-plus

          #description.panel-collapse.collapse.in
            .panel-body
              .text-container
                %p.aligned-text
                  = I18n.locale == :es ? product.description_spanish : product.description

        .panel.panel-default
          .panel-heading
            %h4.panel-title.aligned-text
              %a.collapsed{"data-parent": "#preparation", "data-toggle": "collapse", href: "#preparation"}
                = t("activerecord.attributes.product.recipes")
                %i.fas.fa-plus

          #preparation.panel-collapse.collapse
            .panel-body
              .text-container
                %p.aligned-text
                  = I18n.locale == :es ? product.recipes_spanish : product.recipes
