%div{class: "card-image #{product.state}"}
  -# Image
  - if product.image.attached?
    = image_tag url_for(product.image), class: "img-responsive"

  - else
    = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/product-default.png"), class: "img-responsive"

  .overlay
    %form.link-container.text-center.addCart{action: "", method: ""}
      .quantity

        -# Minus
        %button.subtract{name: "minus", type: "button"}
          %span.sr-only minus
          %i.fas.fa-minus

        %input#quantity{name: "quantity", type: "number", value: "1", min: "1"}/

        -# Plus
        %button.add{name: "plus", type: "button"}
          %span.sr-only plus
          %i.fas.fa-plus
          
        %input#productId{name: "productId", type: "hidden", value: "#{product.id}"}/

      %button.addToCart.btn.btn-general.add-btn{name: "add", type: "button"}= t("views.products.add_cart")

%div{class: "card-body #{product.state}"}
  %p.name.aligned-text
    = link_to "#{I18n.locale == :es ? product.name_spanish : product.name}", product_path(product)

  %p.price.aligned-text
    = number_to_currency(product.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")
    %span.unit= t("views.products.per_box")
