= pie_chart charts_product_by_category_path, defer: true,  donut: true 

= pie_chart charts_product_by_category_path, defer: true 

= line_chart charts_product_by_category_path, defer: true, curve: true, xtitle: "Category", ytitle: "Quantity", thousands: ",", decimal: ".", messages: {empty: "No data"}

= column_chart charts_product_by_category_path, defer: true 

= area_chart charts_product_by_category_path, defer: true 