<!-- Form -->
<%= form_for [:admin, @employee],  html: {class: "", autocomplete: "off", multipart: true} do |f| %>

<section class="form">
  <div class="container">
    <!-- Information -->
    <div class="row">

      <!-- Show errors -->
      <% if @employee.errors.any? %>
      <section class="alerts">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- Alert -->
              <div class="alert alert-danger alert-dismissible shadow-card" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>

                <strong><p><i class="fas fa-exclamation-triangle"></i> <%= t("views.form.the_information_could_not_be_saved") %></p></strong>

                <ul>
                  <li><strong><p><%= @employee.errors.count == 1 ? "#{@employee.errors.count} #{t('views.form.error_found')}" : "#{@employee.errors.count} #{t('views.form.errors_found')}" %></p></strong></li>

                  <% @employee.errors.each do |attribute, message| %>
                  <li><p><%= "#{Employee.human_attribute_name(attribute)}: #{message}" %></p></li>
                  <% end %>
                </ul>

              </div>
              <!-- End Alert -->
            </div>
          </div>
        </div>
      </section>
      <% end %>
      <!-- End Show errors -->

      <div class="col-xs-12 col-md-5 col-lg-4">
        <!-- Material card -->
        <div class="material-card shadow-card <%= @employee.state %>">
          <!-- General information -->
          <div class="row no-margin">
            <div class="col-xs-12 no-padding">
              <div class="general-info">
                <!-- Image -->
                <div class="image-container">
                  <%=  image_tag @employee.image.url(:medium), id: "preview-image", class: "img-responsive" %>
                </div>
                <!-- End Image -->

                <!-- Input imagen -->
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" readonly="" id="filename" type="text">
                    <span class="input-group-btn">
                      <span class="btn btn-general btn-default btn-file">
                        <i class="fas fa-upload"></i>
                        <%= f.file_field :image, id: "select-image", accept: "image/*" %>
                      </span>
                    </span>
                  </div>
                </div>
                <!-- End Input imagen -->
              </div>
            </div>
          </div>
          <!-- End General information -->
        </div>
        <!-- End Material card -->
      </div>

      <div class="col-xs-12 col-md-7 col-lg-8">
        <!-- Material card -->
        <div class="material-card shadow-card <%= @employee.state %>">
          <!-- Table -->
          <div class="row no-margin">
            <div class="col-xs-12 no-padding">
              <div class="form-info">

                <div class="form-group">
                  <%= f.text_field :first_name, class: "form-control input", placeholder: t("activerecord.attributes.employee.first_name"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.first_name") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <%= f.text_field :last_name, class: "form-control input", placeholder: t("activerecord.attributes.employee.last_name"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.last_name") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, class: "form-control input", placeholder: t("activerecord.attributes.employee.email"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.email") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <%= f.telephone_field :phone, class: "form-control input", "data-mask": "(000) 000-0000", placeholder: t("activerecord.attributes.employee.phone"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.phone") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <% role_options = ["Seller", "Driver", "Administrator"]; %>

                  <div class="dropdown">
                    <%= f.text_field :role, class: "form-control input dropdown-toggle", "data-toggle": "dropdown", placeholder: t("views.form.select_role"), readonly: true, required: true %>

                    <ul class="dropdown-menu">
                      <% role_options.each do |role_name| %>
                      <li><p class="<%= role_name == :role ? 'dropdown-item active' : 'dropdown-item' %>"><%= role_name %></p></li>
                      <% end %>
                    </ul>
                  </div>

                  <label><b><%= t("activerecord.attributes.employee.role") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <!-- Only for new records -->
                <% if action_name == "new" || action_name == "create" %>

                <div class="form-group">
                  <%= f.password_field :password, class: "form-control input", placeholder: t("activerecord.attributes.employee.password"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.password") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <div class="form-group">
                  <%= f.password_field :password_confirmation, class: "form-control input", placeholder: t("activerecord.attributes.employee.password_confirmation"), required: true %>
                  <label><b><%= t("activerecord.attributes.employee.password_confirmation") %></b></label>
                  <div class="border-bottom"></div>
                </div>

                <% end %>
                <!-- End Only for new records -->

                <div class="main-buttons">
                  <div class="col-xs-12 col-sm-12 button-container no-padding">

                    <%= button_tag type: "reset", id: "reset-button", class: "btn btn-general btn-warning" do %> <i class="fas fa-eraser"></i> <span><%= t("views.form.restart") %></span> <% end %>

                    <%= f.button class: "btn btn-general btn-success", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do %><i class="fas fa-save"></i> <span><%= t("views.form.save") %></span> <% end %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Material card -->
      </div>

    </div>
    <!-- End Information -->
  </div>
</section>

<% end %>
<!-- End Form -->

<!-- Form -->
<%= javascript_include_tag "form", "data-turbolinks-track": "reload" %>
<!-- End Form -->

<!-- Jquery Mask -->
<%= javascript_include_tag "jquery-mask/jquery.mask", "data-turbolinks-track": "reload" %>
<!-- End Jquery Mask -->
