-# Form
= form_for [:admin, @employee], html: {autocomplete: "off", multipart: true} do |f|
  %section.form
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @employee, model: Employee}
          -# End Show errors

        .col-xs-12.col-md-5.col-lg-4
          -# Material card
          %div{class: "material-card shadow-card #{@employee.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
                  -# Image
                  .image-container
                    - if @employee.image.attached?
                      = image_tag url_for(@employee.image), id: "preview-image", class: "img-responsive"

                    - else
                      = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), id: "preview-image", class: "img-responsive"
                  -# End Image

                  -# Input image
                  .form-group
                    .input-group
                      %input#filename.form-control{readonly: "readonly", type: "text"}/

                      %span.input-group-btn
                        %span.btn.btn-general.btn-file
                          %i.fas.fa-upload
                          = f.file_field :image, id: "select-image", accept: "image/*"
                  -# End Input image
          -# End Material card

        .col-xs-12.col-md-7.col-lg-8
          -# Material card
          %div{class: "material-card shadow-card #{@employee.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                  .form-group
                    = f.text_field :first_name, class: "form-control input", placeholder: t("activerecord.attributes.employee.first_name"), required: true
                    %label
                      %b= t("activerecord.attributes.employee.first_name")
                    .border-bottom

                  .form-group
                    = f.text_field :last_name, class: "form-control input", placeholder: t("activerecord.attributes.employee.last_name"), required: true
                    %label
                      %b= t("activerecord.attributes.employee.last_name")
                    .border-bottom

                  .form-group
                    = f.email_field :email, class: "form-control input", placeholder: t("activerecord.attributes.employee.email"), required: true
                    %label
                      %b= t("activerecord.attributes.employee.email")
                    .border-bottom

                  .form-group
                    -# < f.telephone_field :phone, class: "form-control input", "data-mask": "(000) 000-0000", placeholder: t("activerecord.attributes.employee.phone"), required: true >
                    = f.telephone_field :phone, class: "form-control input", placeholder: t("activerecord.attributes.employee.phone"), required: true
                    %label
                      %b= t("activerecord.attributes.employee.phone")
                    .border-bottom

                  .form-group
                    - role_options = ["Seller", "Driver", "Administrator"].sort;

                    #role-dropdown.dropdown
                      = f.text_field :role, class: "form-control input dropdown-toggle disabled", "data-toggle": "dropdown", placeholder: t("views.form.select_role"), readonly: true, required: true
                      %ul.dropdown-menu
                        - role_options.each do |role_name|
                          %li
                            %p{class: "#{role_name == :role ? 'dropdown-item active' : 'dropdown-item'}", :tabindex => "0"}= role_name
                    %label
                      %b= t("activerecord.attributes.employee.role")
                    .border-bottom

                  -# Buttons
                  .main-buttons
                    .col-xs-12.button-container.no-padding
                      = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                        %i.fas.fa-eraser
                        %span= t("views.form.restart")

                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons
          -# End Material card
-# End Form
