-# History
%section.history
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-10
        -# Heading
        %h1.false
          %i.fas.fa-history
          = t("views.history.history")
        -# End Heading

      .col-xs-12.col-lg-2
        -# Employee button
        .btn-container
          = link_to (admin_employee_path(@employee)), class: "btn btn-general" do
            %i.fas.fa-id-card
            %span= t("activerecord.models.employee")
        -# End Employee button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.dashboard") do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_employees_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.employees") do
                %i.fas.fa-list-alt
                %span= t("header.navigation.employees")
            %li
              = link_to (admin_employee_path(@employee)) do
                %i.fas.fa-id-card
                %span
                  = @employee.first_name
                  = @employee.last_name
            %li.active
              %i.fas.fa-history
              = t("views.history.history")
    -# End Breadcrumb

    -# Render timeline
    - model = Employee
    = render partial: "partials/timeline", locals: {model: model}
    -# End Render timeline
-# End History
