<!-- History -->
<section class="history">
  <div class="container">
    <!-- Title -->
    <div class="row title-container">
      <div class="col-xs-12 col-lg-10">
        <!-- Heading -->
        <h1 class="false"><i class="fas fa-history"></i> <%= t("views.history.history") %></h1>
        <!-- End Heading -->
      </div>

      <div class="col-xs-12 col-lg-2">
        <!-- Export button-->
        <div class="btn-new-container">
          <!-- New button-->
          <div class="btn-new-container">
            <%= link_to (admin_employee_path(@employee)), class: "btn btn-general" do %><i class="fas fa-id-card"></i> <span><%= t("activerecord.models.employee") %></span><% end %>
          </div>
          <!-- End New button-->
        </div>
        <!-- End Export button-->
      </div>
    </div>
    <!-- End Title -->

    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <li>
              <%= link_to (admin_root_path) do %><i class="fas fa-tachometer-alt"></i> <span><%= t("header.navigation.dashboard") %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_employees_path) do %><i class="fas fa-list-alt"></i> <span><%= t("header.navigation.employees") %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_employee_path(@employee)) do %><i class="fas fa-id-card"></i> <span><%= @employee.first_name %> <%= @employee.last_name %></span><% end %>
            </li>

            <li class="active">
              <i class="fas fa-history"></i> <%= t("views.history.history") %>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Information -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Material card -->
        <div class="material-card shadow-card">
          <!-- Timeline -->
          <div class="row no-margin">
            <!-- Timeline -->
            <div class="about-timeline col-xs-12 no-padding">
              <!-- Timeline First -->
              <div class="timeline-info first-last-row">
                <!-- Bullet -->
                <div class="timeline-circle">
                  <div class="begin-final-divider">
                  </div>

                  <div class="vertical-line first-line">
                  </div>
                </div>
                <!-- End Bullet -->

                <!-- Horizontal line -->
                <div class="timeline-horizontal-line">
                </div>
                <!-- End Horizontal line -->

                <!-- Timeline content -->
                <div class="timeline-content no-padding">
                </div>
                <!-- End Timeline content -->
              </div>
              <!-- End Timeline First -->

              <!-- Audit -->
              <% @employee.audits.order(:created_at).reverse.each do |audit| %>

              <!-- Information -->
              <div class="timeline-info">
                <!-- Bullet -->
                <div class="timeline-circle">
                  <div class="circle <%= audit.action == "create" ? "new" : "edit" %>" alt="Timeline circle">
                    <% if audit.action == "create" %>
                    <i class="fas fa-plus"></i>

                    <% else %>
                    <i class="fas fa-edit"></i>
                    <% end %>
                  </div>

                  <div class="vertical-line">
                  </div>
                </div>
                <!-- End Bullet -->

                <!-- Horizontal line -->
                <div class="timeline-horizontal-line">
                  <div class="horizontal-line">
                  </div>
                </div>
                <!-- End Horizontal line -->

                <!-- Timeline content -->
                <div class="timeline-content no-padding">
                  <div class="timeline-box <%= audit.action == "create" ? "new" : "edit" %>">
                    <div class="detail-info">
                      <div class="">
                        <p class="title datetime"><b><%= I18n.localize audit.created_at %></b></p>
                      </div>

                      <!-- Attribute and Changes -->
                      <% audit.audited_changes.each do |attribute, changes| %>

                      <!-- Excluding some information -->
                      <% if attribute != "slug" and attribute != "image_updated_at" and attribute != "password_digest" and attribute != "reset_password_token" and attribute != "reset_password_sent_at" and attribute != "confirmation_token" and attribute != "confirmation_sent_at" and attribute != "failed_attempts" and attribute != "unlock_token" and attribute != "locked_at" %>

                      <div class="info">
                        <p class="title"><b><%= Employee.human_attribute_name(attribute) %></b></p>

                        <!-- Update -->
                        <% if audit.action == "update" %>
                        <p class="after"><i class="fas fa-check-circle"></i> <%= clean_history(changes[1], attribute == "confirmed" ? true : false) %></p>
                        <p class="before"><i class="fas fa-times-circle"></i> <%= clean_history(changes[0], attribute == "confirmed" ? true : false) %></p>

                        <!-- New -->
                        <% else %>
                        <p> <%= clean_history(changes, attribute == "confirmed" ? true : false) %></p>
                        <% end %>
                        <!-- End Update | New -->
                      </div>

                      <% end %>
                      <!-- End Excluding some information -->
                      <% end %>
                      <!-- End Attribute and Changes -->
                    </div>
                  </div>
                </div>
                <!-- End Timeline content -->
              </div>
              <!-- End Information -->

              <% end %>
              <!-- End Audit -->

              <!-- Timeline Last -->
              <div class="timeline-info first-last-row">
                <!-- Bullet -->
                <div class="timeline-circle">
                  <div class="begin-final-divider">
                  </div>
                </div>
                <!-- End Bullet -->

                <!-- Horizontal line -->
                <div class="timeline-horizontal-line">
                </div>
                <!-- End Horizontal line -->

                <!-- Timeline content -->
                <div class="timeline-content no-padding">
                </div>
                <!-- End Timeline content -->
              </div>
              <!-- End Timeline Last -->
            </div>
            <!-- End Timeline -->
          </div>
          <!-- End Timeline -->
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End History -->
