<!-- Index -->
<section class="index">
  <div class="container">
    <!-- Title -->
    <div class="row title-container">
      <div class="col-xs-12 col-lg-10">
        <!-- Heading -->
        <h1><i class="fas fa-list-alt"></i> <%= t("header.navigation.employees") %></h1>
        <!-- End Heading -->
      </div>

      <div class="col-xs-12 col-lg-2 text-right">
        <!-- New button-->
        <div class="btn-container inline">
          <%= link_to (admin_new_employee_path), class: "btn btn-general" do %><i class="fas fa-plus"></i> <span><%= t("views.index.new") %></span><% end %>
        </div>
        <!-- End New button-->
      </div>
    </div>
    <!-- End Title -->

    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <li>
              <%= link_to (admin_root_path) do %><i class="fas fa-tachometer-alt"></i> <span><%= t("header.navigation.dashboard") %></span><% end %>
            </li>

            <li class="active">
              <i class="fas fa-list-alt"></i> <%= t("header.navigation.providers") %>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Information -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <!-- Material card -->
        <div class="material-card shadow-card">
          <div class="row no-margin">
            <!-- Search record -->
            <div class="col-xs-12 col-md-6 no-padding">
              <div id="search-record" class="search-record">
                <!-- Form -->
                <%= form_tag admin_employees_path, method: "get", id: "search-form", autocomplete:"off", remote: true do %>
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: t("views.index.search") %>
                  <div class="border-bottom"></div>

                  <span class="input-group-btn">
                    <%= button_tag t("elements.search"), class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do %><i class="fas fa-search"></i><% end %>
                  </span>
                </div>
                <% end %>
                <!-- End Form -->
              </div>
            </div>
            <!-- End Search record -->

            <!-- Show all -->
            <div class="col-xs-12 col-md-6 no-padding text-right">
              <div class="btn-container" id="show-buttons">
                <%= render "admin/employees/show_buttons" %>
              </div>

              <!-- Export button-->
              <div class="btn-container">
                <%= link_to (admin_employees_path(format: "pdf", lang: I18n.locale)), target: "_blank", class: "btn btn-general btn-default" do %><i class="fas fa-download"></i> <span><%= t("views.index.export") %></span><% end %>
              </div>
              <!-- End Export button-->
            </div>
            <!-- End Show all -->
          </div>

          <!-- Render Datable and Pagination with Ajax -->
          <div id="render-data">
            <%= render "admin/employees/employees" %>
          </div>
          <!-- End Render Datable and Pagination with Ajax -->
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End Index -->

<!-- Pagination with Ajax -->
<%= javascript_include_tag "pagination-ajax", "data-turbolinks-track": "reload" %>
<!-- End Pagination with Ajax -->

<!-- Auto search -->
<%= javascript_include_tag "auto-search", "data-turbolinks-track": "reload" %>
<!-- End Auto search -->
