<!-- PDF resource -->
<% employees = resource %>
<!-- End PDF resource -->

<!-- Index PDF -->
<section class="index index-pdf">
  <div class="container">
    <!-- Information -->
    <div class="row">
      <div class="col-xs-12">
        <!-- Material card -->
        <div class="material-card shadow-card material-card-pdf shadow-card-pdf">

          <!-- Table -->
          <div class="row no-margin">
            <div class="col-xs-12 no-padding">
              <table class="table table-pdf">
                <!-- <thead> -->
                <tr>
                  <th>No.</th>
                  <th><%= t('activerecord.attributes.employee.first_name') %></th>
                  <th><%= t('activerecord.attributes.employee.last_name') %></th>
                  <th><%= t('activerecord.attributes.employee.email') %></th>
                  <th><%= t('activerecord.attributes.employee.phone') %></th>
                  <th><%= t('activerecord.attributes.employee.role') %></th>
                </tr>
                <!-- </thead> -->

                <tbody>
                  <% employees.each do |employee| %>
                  <tr class="<%= employee.state %>">
                    <td><p><%= employee.id %></p></td>
                    <td><p><%= employee.first_name %></p></td>
                    <td><p><%= employee.last_name %></p></td>
                    <td><p><%= employee.email %></p></td>
                    <td><p><%= employee.phone %></p></td>
                    <td><p><%= employee.role %></p></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Table -->

        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End Index PDF -->
