-# Form Title
%section.form-title
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-10
        -# Heading
        %h1
          %i.fas.fa-plus
          = t("views.new.new")
        -# End Heading

      .col-xs-12.col-lg-2
        -# Employees button
        .btn-container
          = link_to (admin_employees_path), class: "btn btn-general", "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.employees") do
            %i.fas.fa-list-alt
            %span= t("header.navigation.employees")
        -# End Employees button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.dashboard") do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_employees_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.employees") do
                %i.fas.fa-list-alt
                %span= t("header.navigation.employees")
            %li.active
              %i.fas.fa-plus
              = t("views.new.new")
    -# End Breadcrumb
-# End Form Title

-# Render form
= render "form"
-# End Render form
