-# Form
= form_for [:admin, @order], html: {autocomplete: "off", multipart: true} do |f|
  %section.form
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @order, model: Purchase}
          -# End Show errors

        .col-xs-12.col-md-7.col-lg-8
          -# Material card
          %div{class: "material-card shadow-card #{@order.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                
                  .form-group
                    = f.text_field :receipt_number, class: "form-control input", placeholder: t("activerecord.attributes.purchase.receipt_number")
                    %label
                      %b= t("activerecord.attributes.purchase.receipt_number")
                    .border-bottom
                    
                  .col-xs-12.col-md-7
                  
                    .form-group
                      .input-btn-group
                        = f.hidden_field :provider_id, required: true
                        = f.text_field :provider, value: @order.provider_id.nil? ? "" : "#{@order.order.name}", class: "form-control input", placeholder: t("activerecord.attributes.product.category"), required: true, disabled: true
                        %label
                          %b= t("activerecord.attributes.purchase.provider")
                        .border-bottom
  
                        = link_to "", class: "btn btn-general", "data-toggle": "modal", "data-target": "#getProviders" do
                          %i.fas.fa-search
              
                    .col-xs-12.col-md-4 
                      .form-group
                        = f.number_field :discount, class: "form-control input", placeholder: t("activerecord.attributes.purchase.discount"), step: "1", min: "0", max: "100"
                        %label
                          %b= "#{t('activerecord.attributes.purchase.discount')} %"
                        .border-bottom
                        
                    .col-xs-12.col-md-8
                      .form-group
                        .input-group.date#datetimepicker
                          = f.text_field :purchase_datetime, class: "form-control input date-field", placeholder: t("activerecord.attributes.purchase.purchase_datetime"), required: true
                          %span.input-group-addon.btn.btn-general
                            %span.glyphicon.glyphicon-calendar
                          %label
                            %b= t("activerecord.attributes.purchase.purchase_datetime")
                          .border-bottom

                    .form-group.hidden
                      = f.text_field :status, class: "form-control input", placeholder: t("activerecord.attributes.purchase.status")
                      %label
                        %b= t("activerecord.attributes.purchase.status")
                      .border-bottom

                    .form-group.hidden
                      = f.text_field :employee_id, class: "form-control input", placeholder: t("activerecord.attributes.purchase.employee_id")
                      %label
                        %b= t("activerecord.attributes.purchase.employee_id")
                      .border-bottom
                      
                      
                  .col-xs-12.col-md-5
                    .form-group
                      = f.text_area :observations, class: "form-control input text-area",placeholder: t("activerecord.attributes.purchase.observations")
                      %label
                        %b= t("activerecord.attributes.purchase.observations")
                      .border-bottom

                  -# Buttons
                  .main-buttons
                    .col-xs-12.button-container.no-padding
                      = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                        %i.fas.fa-eraser
                        %span= t("views.form.restart")

                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons
          -# End Material card

        .col-xs-12.col-md-5.col-lg-4
          -# Material card
          %div{class: "material-card shadow-card #{@order.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
          -# End Material card

        .col-xs-12
          %h3 Details
          #purchase_details
            = f.fields_for :purchase_details do |detail|
              = render "purchase_detail_fields", f: detail
            .links
              = link_to_add_association "Add Detail", f, :purchase_details, class: "btn btn-general", data: { association_insertion_node: "#purchase_details", association_insertion_method: :prepend}
-# End Form
