-# Form
= form_for [:admin, @customer],  html: {autocomplete: "off", multipart: true} do |f|
  %section.form
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @customer, model: Customer}
          -# End Show errors

        .col-xs-12.col-md-5.col-lg-4
          -# Material card
          %div{class: "material-card shadow-card #{@customer.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
                  -# Image
                  .image-container
                    - if @customer.image.attached?
                      = image_tag url_for(@customer.image), id: "preview-image", class: "img-responsive"

                    - else
                      = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), id: "preview-image", class: "img-responsive"
                  -# End Image

                  -# Input image
                  .form-group
                    .input-group
                      %input#filename.form-control{readonly: "readonly", type: "text"}/

                      %span.input-group-btn
                        %span.btn.btn-general.btn-file
                          %i.fas.fa-upload
                          = f.file_field :image, id: "select-image", accept: "image/*"
                  -# End Input image
          -# End Material card

        .col-xs-12.col-md-7.col-lg-8
          -# Material card
          %div{class: "material-card shadow-card #{@customer.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                  .form-group
                    = f.text_field :first_name, class: "form-control input", placeholder: t("activerecord.attributes.customer.first_name"), required: true
                    %label
                      %b= t("activerecord.attributes.customer.first_name")
                    .border-bottom

                  .form-group
                    = f.text_field :last_name, class: "form-control input", placeholder: t("activerecord.attributes.customer.last_name"), required: true
                    %label
                      %b= t("activerecord.attributes.customer.last_name")
                    .border-bottom

                  .form-group
                    = f.text_field :company, class: "form-control input", placeholder: t("activerecord.attributes.customer.company")
                    %label
                      %b= t("activerecord.attributes.customer.company")
                    .border-bottom

                  .form-group
                    = f.email_field :email, class: "form-control input", placeholder: t("activerecord.attributes.customer.email"), required: true
                    %label
                      %b= t("activerecord.attributes.customer.email")
                    .border-bottom

                  .form-group
                    -# < f.telephone_field :phone, class: "form-control input", "data-mask": "(000) 000-0000", placeholder: t("activerecord.attributes.customer.phone"), required: true >
                    = f.telephone_field :phone, class: "form-control input", placeholder: t("activerecord.attributes.customer.phone"), required: true
                    %label
                      %b= t("activerecord.attributes.customer.phone")
                    .border-bottom

                  .form-group
                    = f.text_area :address, class: "form-control input text-area",placeholder: t("activerecord.attributes.customer.address"), required: true
                    %label
                      %b= t("activerecord.attributes.customer.address")
                    .border-bottom


                  -# Buttons
                  .main-buttons
                    .col-xs-12.col-sm-12.button-container.no-padding
                      = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                        %i.fas.fa-eraser
                        %span= t("views.form.restart")

                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons
          -# End Material card
-# End Form
