.col-xs-4
  -# Material card
  %div{class: "material-card material-card-pdf shadow-card shadow-card-pdf #{resource.state}"}
    .row.no-margin
      .col-xs-12.no-padding
        .general-info
          -# Image
          .image-container
            - if resource.image.attached?
              = image_tag url_for(resource.image), class: "img-responsive"
            - else
              = image_tag url_for("https://res.cloudinary.com/reymundotenorio/image/upload/v1563544834/BANP/default.png"), class: "img-responsive"
          -# End Image
  -# End Material card

.col-xs-8
  -# Material card
  %div{class: "material-card material-card-pdf shadow-card shadow-card-pdf #{resource.state}"}
    .row.no-margin
      .col-xs-12.no-padding
        %div{class: "detail-info #{resource.state}"}
          - attributes.each do |attribute|
            .info
              %p.title
                %b= t("activerecord.attributes.#{model}.#{attribute}")

              - if attribute == "state"
                %p= resource.state ? t("views.show.enabled") : t("views.show.disabled")

              - elsif attribute == "price"
                %p= number_to_currency(resource.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

              - elsif attribute == "barcode"
                %svg#barcode{"jsbarcode-format": "CODE128", "jsbarcode-value": "#{resource.barcode}", "jsbarcode-lineColor": "#333333", "jsbarcode-background": "#fff", "jsbarcode-fontSize": "16px", "jsbarcode-font": "Montserrat", "jsbarcode-margin": "0", "jsbarcode-marginTop": "10"}

              - elsif attribute == "category"
                %p= I18n.locale == :es ? resource.category.name_spanish : resource.category.name

              - else
                %p= resource["#{attribute}"]

          -# Setting user attributes
          - user_attributes = ["confirmed", "sign_in_count", "current_sign_in_at", "current_sign_in_ip", "last_sign_in_at", "last_sign_in_ip"]

          -# Display user attributes
          - if defined? resource.user
            - if resource.user.present?
              - user_attributes.each do |attribute|
                .info
                  %p.title
                    %b= t("activerecord.attributes.user.#{attribute}")

                  - if attribute == "confirmed"
                    %p= resource.user.confirmed ? t("views.show.confirmed") : t("views.show.not_confirmed")

                  - elsif attribute == "current_sign_in_at" || attribute == "last_sign_in_at"
                    %p= format_datetime(resource.user["#{attribute}"])

                  - else
                    %p= resource.user["#{attribute}"]
          -# End Display user attributes
  -# End Material card
