.invoice-info
  .container
    .row
      .col-xs-6
        #bill-info-container.info-container
          %h4.info-title= t("sale.bill_to")

          .info-content
            %p.invoice-name= "#{resource.customer.first_name} #{resource.customer.last_name}"

            - if resource.payment_method != "cash"
              %p.invoice-card
                - if resource.payment_method == "cash"
                  %i.fas.fa-money-bill-alt

                - elsif resource.payment_method == "card"
                  %i.fas.fa-credit-card

                - elsif resource.payment_method == "PayPal"
                  %i.fab.fa-paypal

                - elsif resource.payment_method == "Stripe"
                  %i.fab.fa-stripe-s

                - else
                  %i.fas.fa-dollar-sign

                %span= resource.payment_reference

            %p.invoice-name
              %i.fas.fa-hand-holding-usd
              %span
                %b= resource.paid ? t("sale.paid_out").upcase : t("sale.pending_payment").upcase

            - if resource.customer.company
              %p.invoice-name
                %i.fas.fa-building
                %span= resource.customer.company

      .col-xs-6
        #ship-info-container.info-container
          %h4.info-title= t("sale.ship_to")

          .info-content
            %p.ship-address= resource.observations

.invoice-body
  .logo-container
    .logo
      BANP

  .container
    .row
      .col-xs-12
        .table-container
          %table.body-table
            %thead
              %tr
                %th.q-row= t("activerecord.attributes.product.quantity")
                %th.d-row= t("activerecord.attributes.product.description")
                %th.r-row= t("activerecord.attributes.product.price")
                %th.a-row= t("sale.amount")

            %tbody
              - resource.sale_details.each do |detail|
                - if detail.status != "returned" && detail.status != "pending"
                  %tr
                    %td.invoice-q= detail.quantity
                    %td= I18n.locale == :es ? "#{detail.product.name_spanish} - #{detail.product.content_spanish}" : "#{detail.product.name} - #{detail.product.content}"

                    %td= number_to_currency(detail.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                    %td= number_to_currency((detail.quantity * detail.price), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

        .total-container.no-border
          .flex-child.note.no-border

          .flex-child.total.discount
            %span= "#{t('activerecord.attributes.sale.discount')} (#{resource.discount}%)"

          .flex-child.mount.discount
            %span= number_to_currency((Sale.total(resource.id) * (resource.discount / 100)), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

        .total-container
          .flex-child.note
            %span= t("sale.sale_claim")

          .flex-child.total
            %span= t("activerecord.attributes.sale.total")

          .flex-child.mount
            %span= number_to_currency((Sale.total(resource.id)), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")
