.invoice-info
  .container
    .row
      .col-xs-6
        #bill-info-container.info-container
          %h4.info-title= t("sale.bill_to")

          .info-content
            %p.invoice-name= "#{resource.customer.first_name} #{resource.customer.last_name}"
            %p.invoice-card
              - if resource.payment_method == "cash"
                %i.fas.fa-money-bill-alt

              - elsif resource.payment_method == "card"
                %i.fas.fa-credit-card

              - elsif resource.payment_method == "PayPal"
                %i.fab.fa-paypal

              - elsif resource.payment_method == "Stripe"
                %i.fab.fa-stripe-s

              - else
                %i.fas.fa-dollar-sign

              %span= resource.payment_reference

            - if resource.customer.company
              %p.invoice-name
                %i.fas.fa-building
                %span= resource.customer.company

      .col-xs-6
        #ship-info-container.info-container
          %h4.info-title= t("sale.ship_to")

          .info-content
            %p.ship-address= resource.observations

.invoice-body
  .logo
    BANP

  .container
    .row
      .col-xs-12
        .table-container
          %table.body-table
            %thead
              %tr
                %th.q-row= t("activerecord.attributes.product.quantity")
                %th.d-row= t("activerecord.attributes.product.description")
                %th.r-row= t("activerecord.attributes.product.price")
                %th.a-row= t("activerecord.attributes.sale.total")

            %tbody
              %tr
                %td.invoice-q 2
                %td Patatoes baker
                %td 28.95
                %td 57.90

              %tr
                %td.invoice-q 1
                %td Onions SP
                %td 19.95
                %td 19.95

              %tr
                %td.invoice-q 1
                %td Spinach Cello Bach
                %td 2.50
                %td 15.00

        .total-container
          .flex-child.note
            %span= t("sale.sale_claim")

          .flex-child.total
            %span= t("activerecord.attributes.sale.total")
          .flex-child.mount
            %span $92.82
