<div class="fix-footer"></div>

<footer>
  <section class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-1 image-container">
          <div class="footer-legal">
            <%= image_tag 'img/footer-usda-organic.png', class: "img-responsive", alt: "USDA Organic" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-7">
          <div class="footer-legal">
            <p><span>&copy; <%= Time.now.year %></span> <span>Better and Nice Produce Corp. <span>Miami, Florida</span></p>
          </div>
        </div>

        <% client = DeviceDetector.new(request.user_agent) %>
        <% client_ip = request.remote_ip %>
        <% client_browser = client.name %>
        <% client_os = "#{client.os_name} #{client.os_full_version}" %>
        <% client_device = client.device_name %>

        <div class="col-xs-12 col-sm-4">
          <div class="footer-legal">
            <p class="request-info"><span><%= client.known? ? "#{client_device} #{client_browser} #{client_os} @ #{client_ip}" : "#{client_ip}" %></span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-bottom hidden">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="footer-logo">
            <%= link_to (admin_root_path) do %>
            <p class="banp-logo">BANP</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

<!-- Material input -->
<%= javascript_include_tag 'material-input', 'data-turbolinks-track': 'reload' %>
<!-- End Material input -->
