.fix-footer

%footer
  %section.footer-top
    .container-fluid
      .row
        .col-xs-12.col-sm-1.image-container
          .footer-legal
            = image_tag "img/usda-organic.png", class: "img-responsive hidden-xs", alt: "USDA Organic"
            = image_tag "img/usda-organic-mobile.png", class: "img-responsive visible-xs", alt: "USDA Organic"

        .col-xs-12.col-sm-7
          .footer-legal
            %p
              %span
                © #{Time.now.year}
              %span
                Better and Nice Produce Corp.
                %span Miami, Florida

        -# Setting client attributes
        - client = DeviceDetector.new(request.user_agent)
        - client_ip = request.remote_ip
        - client_browser = client.name
        - client_os = "#{client.os_name} #{client.os_full_version}"
        - client_device = client.device_name
        - client_country = Geocoder.search(client_ip).first.country

        .col-xs-12.col-sm-4
          .footer-legal
            %p.request-info
              %span= client.known? ? "#{client_device} #{client_browser} #{client_os} @ #{client_ip} | #{client_country}" : "#{client_ip} | #{client_country}"
