#navbar.collapse.navbar-collapse
  %ul.nav.navbar-nav
    -# Dashboard
    %li
      = link_to (admin_root_path) do
        %i.fas.fa-tachometer-alt
        = t("header.navigation.dashboard")
    -# End Dashboard

    -# Providers
    %li
      = link_to (admin_providers_path), class: "#{'active' if controller_name == 'providers'}" do
        %i.fas.fa-building
        %span= t("header.navigation.providers")
    -# End Providers

    -# Customers
    %li
      = link_to (admin_customers_path), class: "#{'active' if controller_name == 'customers'}" do
        %i.fas.fa-users
        %span= t("header.navigation.customers")
    -# End Customers

    -# Catalog
    %li.dropdown
      %a{class: "dropdown-toggle #{'active' if (controller_name == 'categories' or controller_name == 'products')}", "data-toggle": "dropdown", href: "#"}
        %i.fas.fa-list-alt
        = t("header.navigation.catalog")
        %i.fas.fa-caret-down

      %ul.dropdown-menu
        -# Categories
        %li
          = link_to (admin_categories_path), class: "#{'active' if controller_name == 'categories'}" do
            %i.fas.fa-tags
            %span= t("header.navigation.categories")
        -# End categories

        -# Products
        %li
          = link_to (admin_products_path), class: "#{'active' if controller_name == 'products'}" do
            %i.fas.fa-cubes
            %span= t("header.navigation.products")
        -# End Products
    -# End Catalog

    -# Purchases
    %li.dropdown
      %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
        %i.fas.fa-shopping-bag
        = t("header.navigation.purchases")
        %i.fas.fa-caret-down

      %ul.dropdown-menu
        %li
          = link_to (admin_purchase_orders_path), class: "#{'active' if controller_path == 'admin/purchases/orders'}" do
            %i.far.fa-newspaper
            = t("header.navigation.orders")
        %li
          = link_to (admin_purchase_receptions_path), class: "#{'active' if controller_path == 'admin/purchases/receptions'}" do
            %i.fas.fa-cart-arrow-down
            = t("header.navigation.receptions")
        %li
          = link_to (admin_inventory_path), class: "#{'active' if controller_name == 'inventories'}" do
            %i.fas.fa-archive
            = t("header.navigation.inventory")
        %li
          = link_to (admin_purchase_returns_path), class: "#{'active' if controller_path == 'admin/purchases/returns'}" do
            %i.fas.fa-undo
            = t("header.navigation.returns")
    -# End Purchases

    -# Sales
    %li.dropdown
      %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
        %i.fas.fa-shopping-cart
        = t("header.navigation.sales")
        %i.fas.fa-caret-down

      %ul.dropdown-menu
        -# Orders
        %li
          %a{href: "#"}
            %i.far.fa-newspaper
            = t("header.navigation.orders")
        -# End Orders

        -# Invoicing
        %li
          %a{href: "#"}
            %i.fas.fa-cart-plus
            = t("header.navigation.invoicing")
        -# End Invoicing

        -# Deliveries
        %li
          %a{href: "#"}
            %i.fas.fa-truck
            = t("header.navigation.deliveries")
        -# End Deliveries

        -# Quotes
        %li
          %a{href: "#"}
            %i.fas.fa-calculator
            = t("header.navigation.quotes")
        -# End Quotes

        -# Returns
        %li
          %a{href: "#"}
            %i.fas.fa-undo
            = t("header.navigation.returns")
        -# End Returns
    -# End Sales

    -# Reports
    %li.dropdown
      %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
        %i.fas.fa-chart-bar
        = t("header.navigation.reports")
        %i.fas.fa-caret-down

      %ul.dropdown-menu
        -# Purchases
        %li
          %a{href: "#"}
            %i.fas.fa-shopping-bag
            = t("header.navigation.purchases")
        -# End purchases

        -# Sales
        %li
          %a{href: "#"}
            %i.fas.fa-shopping-cart
            = t("header.navigation.sales")
        -# End Sales
    -# End Reports

    -# Employees
    %li
      = link_to (admin_employees_path), class: "#{'active' if controller_name == 'employees'}" do
        %i.fas.fa-briefcase
        %span= t("header.navigation.employees")
    -# End Employees
