#navbar.collapse.navbar-collapse
  / Navbar nav
  %ul.nav.navbar-nav
    / Dashboard
    %li
      %a{:href => "#"}
        %i.fas.fa-tachometer-alt
        = t("header.navigation.dashboard")
    / End Dashboard
    / Providers
    %li
      = link_to (admin_providers_path), class: "#{'active' if controller_name == 'providers'}" do
        %i.fas.fa-building
        %span= t("header.navigation.providers")
    / End Providers
    / Customers
    %li
      %a{:href => "#"}
        %i.fas.fa-users
        = t("header.navigation.customers")
    / End Customers
    / Catalog
    %li.dropdown
      %a{:class => "dropdown-toggle #{'active' if (controller_name == 'categories' or controller_name == 'products')}", "data-toggle" => "dropdown", :href => "#"}
        %i.fas.fa-list-alt
        = t("header.navigation.catalog")
        %i.fas.fa-caret-down
      %ul.dropdown-menu
        %li
          = link_to (admin_categories_path), class: "#{'active' if controller_name == 'categories'}" do
            %i.fas.fa-tags
            %span= t("header.navigation.categories")
        %li
          = link_to (admin_products_path), class: "#{'active' if controller_name == 'products'}" do
            %i.fas.fa-cubes
            %span= t("header.navigation.products")
    / End Catalog
    / Purchases
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fas.fa-shopping-bag
        = t("header.navigation.purchases")
        %i.fas.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.far.fa-newspaper
            = t("header.navigation.orders")
        %li
          %a{:href => "#"}
            %i.fas.fa-cart-arrow-down
            = t("header.navigation.receptions")
        %li
          %a{:href => "#"}
            %i.fas.fa-archive
            = t("header.navigation.inventory")
        %li
          %a{:href => "#"}
            %i.fas.fa-undo
            = t("header.navigation.returns")
    / End Purchases
    / Sales
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fas.fa-shopping-cart
        = t("header.navigation.sales")
        %i.fas.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.far.fa-newspaper
            = t("header.navigation.orders")
        %li
          %a{:href => "#"}
            %i.fas.fa-cart-plus
            = t("header.navigation.invoicing")
        %li
          %a{:href => "#"}
            %i.fas.fa-truck
            = t("header.navigation.deliveries")
        %li
          %a{:href => "#"}
            %i.fas.fa-calculator
            = t("header.navigation.quotes")
        %li
          %a{:href => "#"}
            %i.fas.fa-undo
            = t("header.navigation.returns")
    / End Sales
    / Reports
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fas.fa-chart-bar
        = t("header.navigation.reports")
        %i.fas.fa-caret-down
      %ul.dropdown-menu
        %li
          %a{:href => "#"}
            %i.fas.fa-shopping-bag
            = t("header.navigation.purchases")
        %li
          %a{:href => "#"}
            %i.fas.fa-shopping-cart
            = t("header.navigation.sales")
    / End Reportes
    / Employees
    %li
      = link_to (admin_employees_path), class: "#{'active' if controller_name == 'employees'}" do
        %i.fas.fa-briefcase
        %span= t("header.navigation.employees")
    / End Employees
  / End Navbar nav
