!!!
%html
  %head
    %title Better and Nice Produce Corp
    -# Meta information
    %meta{charset: "utf-8"}/
    %meta{content: "text/html;charset=utf-8", "http-equiv": "content-type"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui", name: "viewport"}/
    -# End Meta information

    -# Base
    %base{href: "#{$banp_domain}"}/
    -# End Base

    -# Favicon and theme settings
    = favicon_link_tag asset_path("img/favicon.png"), rel: "icon", type: "image/png"
    %meta{content: "#444444", name: "theme-color"}/
    -# End Favicon and theme settings

    -# CSRF Tags
    = csrf_meta_tags
    -# End CSRF Tags

    -# CSP Tags
    = csp_meta_tag
    -# End CSP Tags

    -# PDF Stylesheet
    = wicked_pdf_stylesheet_link_tag "application"
    = wicked_pdf_stylesheet_link_tag "admin"
    -# End PDF Stylesheet

    -# Jquery & Barcode
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"

    -# Execute Script
    :javascript
      $(document).ready(function() {
        // Display Barcodes
        JsBarcode("#barcode").init();
      });

  %body.body-pdf
    -# Header
    %header#back-top.header-top
      %section.top-navbar.top-navbar-pdf
        .container
          .navbar-brand-top
            .row.navbar-brand-row
              .col-xs-4.logo-top
                %p.banp-logo BANP
              .col-xs-8.info-pdf
                %p Anywhere, anytime, fresh produce on time!
    -# End Header

    -# Main content
    = yield
    -# End Main content
