<!DOCTYPE html>
<html>
<head>
  <title>Better and Nice Produce Corp - <%= yield(:title) %></title>

  <!-- Meta information -->
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <!-- End Meta information -->

  <!-- Favicon settings -->
  <%= favicon_link_tag asset_path("img/favicon.png"), rel: "icon", type: "image/png" %>
  <meta name="theme-color" content="#fef7f8">
  <!-- End Favicon settings -->

  <!-- OpenGraph info -->
  <meta property="og:title" content="Better and Nice Produce Corp">
  <meta property="og:description" content="Better and Nice Produce is at the forefront of produce quality, whit more than 20 years in the business. Serving all the South Florida with the best in gourmet, organic, and specialty pershibles. Better and Nice Produce continues to push the envelopment in quality and Service. Better and Nice Produce is committed to live by its motto, 'Anywhere, anytime, fresh produce on time'.">
  <meta property="og:url" content="http://www.betterandnice.com">
  <meta property="og:image" content="http://www.betterandnice.com/favicon.png">
  <!-- End OpenGraph info -->

  <!-- CSRF Tags -->
  <%= csrf_meta_tags %>
  <!-- End CSRF Tags -->

  <!-- CSP Tags -->
  <%= csp_meta_tag %>
  <!-- End CSP Tags -->

  <!-- Application -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <!-- End Application -->
</head>

<!-- Preloader -->
<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<!-- Preloader -->

<!-- Main content -->
<body class="auth">
  <div class="background-container"></div>

  <%= yield %>
</body>
<!-- End Main content -->

<!-- Material input -->
<%= javascript_include_tag "material-input", "data-turbolinks-track": "reload" %>
<!-- End Material input -->
</html>
