!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "NOINDEX, NOFOLLOW", name: "ROBOTS"}/

    -# Scripts
    = javascript_include_tag "https://code.jquery.com/jquery-1.12.4.min.js"
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"

    -# PDF Stylesheet
    = wicked_pdf_stylesheet_link_tag "application"
    = wicked_pdf_stylesheet_link_tag "admin"
    -# End PDF Stylesheet

    -# Get page number
    :javascript
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split("&");

        for(var i in x) {
          var z=x[i].split("=",2);vars[z[0]] = decodeURIComponent(z[1]);
        }

        var x=["frompage","topage","page","webpage","section","subsection","subsubsection"];

        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);

          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }

  %body.body-pdf{onload: "number_pages()"}
    -# Footer
    %footer
      %section.footer-pdf
        .container
          .row
            .col-xs-6
              .footer-legal
                %p.text-left= datetime
            .col-xs-6
              %p.text-right
                %span.page
                \/
                %span.topage
    -# End Footer
