-# PDF resource
-# resource
-# End PDF resource

-# Index PDF
%section.index.index-pdf
  .container
    .row
      .col-xs-12
        %h1.text-center= pdf_title

      .col-xs-4
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding.details
              .general-info
                .main-info
                  %p= I18n.l(@sale.sale_datetime, format: I18n.locale == :es ? "%A, %d #{t('sale.of')} %B #{t('sale.of')} %Y" : "%A, %B %d, %Y").capitalize
                  %p= I18n.l(@sale.sale_datetime, format: I18n.locale == :es ? "%I:%M:%S %p" : "%H:%M:%S")

                %br

                %div{class: "main-info text-left-right paid #{'not-paid' if !@sale.paid}"}
                  %p.text-left
                    %b
                      %i.fas.fa-hand-holding-usd
                      %span= t("activerecord.attributes.sale.paid")

                  %p.text-right= @sale.paid ? "Si" : "No"

                .main-info.text-left-right
                  %p.text-left
                    %b
                      - if @sale.payment_method == "cash"
                        %i.fas.fa-money-bill-alt

                      - elsif @sale.payment_method == "card"
                        %i.fas.fa-credit-card

                      - elsif @sale.payment_method == "PayPal"
                        %i.fab.fa-paypal

                      - elsif @sale.payment_method == "Stripe"
                        %i.fab.fa-stripe-s

                      - else
                        %i.fas.fa-dollar-sign

                      %span= t("activerecord.attributes.sale.payment_method")

                  %p.text-right
                    - if @sale.payment_method == "cash"
                      = t("sale.cash")

                    - elsif @sale.payment_method == "card"
                      = t("sale.cash")

                    - else
                      = @sale.payment_method

                .main-info
                  %p.text-center
                    %b
                      %i.fas.fa-file-invoice
                      %span= t("activerecord.attributes.sale.payment_reference")
                  %p.text-center= @sale.payment_reference

                %br

                .main-info.text-left-right
                  %p.text-left
                    %b
                      %i.fas.fa-users
                      %span= t("activerecord.models.customer")
                  %p.text-right= "#{@sale.customer.first_name} #{@sale.customer.last_name}"

                .main-info.text-left-right

                  %p.text-left
                    %b
                      %i.fas.fa-briefcase
                      %span= t("activerecord.models.employee")
                  %p.text-right= "#{@sale.employee.first_name} #{@sale.employee.last_name}"

                %br

                .main-info.text-left-right
                  %p.text-left
                    %b Subtotal
                  %p.text-right= "#{number_to_currency(Sale.total(@sale.id), precision: 2, unit: '$', format: '%u%n', separator: '.', delimiter: ',')}"

                .main-info.text-left-right
                  %p.text-left
                    %b= "#{t('activerecord.attributes.sale.discount')} (#{@sale.discount}%)"
                  %p.text-right="- #{number_to_currency((Sale.total(@sale.id) * (@sale.discount / 100)), precision: 2, unit: '$', format: '%u%n', separator: '.', delimiter: ',')}"

                .main-info.text-left-right
                  .divider

                .main-info.text-left-right
                  %p.text-left
                    %b Total
                  %p.text-right= number_to_currency((Sale.total(@sale.id) - (Sale.total(@sale.id) * (@sale.discount / 100))), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                .main-info
                  %p= t("views.show.created_at", time: time_ago_in_words(@sale.created_at))
                  %p= t("views.show.updated_at", time: time_ago_in_words(@sale.updated_at))
        -# End Material card

      .col-xs-8
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding
              -# Table
              %table.table.table-pdf
                -# Set attributes
                - model = "sale_details"
                - attributes = ["product", "price", "quantity", "total_sale_detail", "status"]

                -# Render table header
                = render partial: "partials/table_header", locals: {model: model, attributes: attributes}
                %tbody
                  - resource.each do |info|
                    -# Render table information
                    = render partial: "partials/information_table", locals: {resource: info, attributes: attributes}
              -# End Table
        -# End Material card
-# End Index PDF
