-# Index
%section.index
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-8
        -# Heading
        %h1#count-title
          -# Render count title
          = render "count_title"
          -# End Heading

      .col-xs-12.col-lg-4.text-right
        -# Show sale button
        .btn-container.inline
          - if @is_invoice
            = link_to (admin_sale_invoices_path), class: "btn btn-general" do
              %i.fas.fa-list-alt
              %span= t("sale.show_invoices")

          - elsif @is_shipment
            - if @sale.state
              = link_to (admin_new_sale_delivery_path(@sale.id)), method: "patch", class: "btn btn-general" do
                %i.fas.fa-check
                %span= t("sale.shipment_delivered")

          - elsif @is_delivery
            = link_to (admin_sale_deliveries_path), class: "btn btn-general" do
              %i.fas.fa-list-alt
              %span= t("sale.show_deliveries")

          - else
            - if @sale.state
              = link_to (admin_new_sale_shipment_path(@sale.id)), method: "patch", class: "btn btn-general" do
                %i.fas.fa-check
                %span= t("sale.ship_sale_order")
        -# End Show sale button
    -# End Title

    -# Breadcrumb
    - if @is_invoice
      = sync partial: "invoices_data_breadcrumb", resource: @sale
      -# = sync_new partial: "invoices_data_breadcrumb", resource: Sale.new

    - elsif @is_shipment
      = sync partial: "shipments_data_breadcrumb", resource: @sale
      -# = sync_new partial: "shipments_data_breadcrumb", resource: Sale.new

    - elsif @is_delivery
      = sync partial: "deliveries_data_breadcrumb", resource: @sale
      -# = sync_new partial: "deliveries_data_breadcrumb", resource: Sale.new

    - else
      = sync partial: "orders_data_breadcrumb", resource: @sale
      -# = sync_new partial: "orders_data_breadcrumb", resource: Sale.new
    -# End Breadcrumb

    .row
      .col-xs-12.col-md-4
        -# Material card
        %div{class: "material-card shadow-card #{@sale.state}"}
          .row.no-margin
            .col-xs-12.no-padding.details
              -# Data details render_sync
              - if @is_invoice
                = sync partial: "invoices_data_details", resource: @sale
                -# = sync_new partial: "invoices_data_details", resource: Sale.new

              - elsif @is_shipment
                = sync partial: "shipments_data_details", resource: @sale
                -# = sync_new partial: "shipments_data_details", resource: Sale.new'

              - elsif @is_delivery
                = sync partial: "deliveries_data_details", resource: @sale
                -# = sync_new partial: "deliveries_data_details", resource: Sale.new'

              - else
                = sync partial: "orders_data_details", resource: @sale
                -# = sync_new partial: "orders_data_details", resource: Sale.new
              -# End Data details render_sync
        -# End Material card

      .col-xs-12.col-md-8
        -# Material card
        %div{class: "material-card shadow-card #{@sale.state}"}
          .row.no-margin
            -# Search record
            .col-xs-12.col-md-6.no-padding
              #search-record.search-record
                -# Form
                = form_tag admin_sale_details_path(@sale.id), method: "get", id: "search-form", autocomplete: "off", remote: true do
                  .input-group
                    = text_field_tag :search, params[:search], id: "search-input", class: "form-control"
                    .border-bottom

                    %span.input-group-btn
                      = button_tag t("elements.search"), id: "search-btn", class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"}, "data-toggle": "tooltip", "data-placement": "top", title: t("views.landing.search") do
                        %i.fas.fa-search
                -# End Form
            -# End Search record

            -# Show all
            .col-xs-12.col-md-6.no-padding.text-right
              #show-buttons.btn-container
                -# Render show buttons
                =# render "show_buttons"

              -# Export button
              .btn-container
                = link_to (admin_sale_details_path(@sale.id, format: "pdf", lang: I18n.locale)), target: "_blank", class: "btn btn-general btn-default" do
                  %i.fas.fa-download
                  %span= t("views.index.export")
              -# End Export button
            -# End Show all

          -# Render table and pagination with Ajax
          #render-data
            = render "sale_details"
          -# End Render table and pagination with Ajax
        -# End Material card
-# End Index

-# Pagination with Ajax script
= javascript_include_tag "pagination-ajax", "data-turbolinks-track": "reload"
-# End Pagination with Ajax script

-# Auto search script
= javascript_include_tag "auto-search", "data-turbolinks-track": "reload"
-# End Auto search script
