%section.wrap
  .banner.grad-section
    .container-fluid
      .row
        .col-xs-12
          %h1.search-title.text-center= t("views.edit.update_password")
    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .search-container.animated.opacity-up{"data-delay": "1500", "data-scroll": "0"}
            -# Render search_form
            = render "layouts/search_form"
            -# End Render search_form

-# Form title
%section.form-title
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-8
        -# Customers button
        .btn-container
          = link_to (customer_path), class: "btn btn-general" do
            %i.fas.fa-undo-alt
            %span= t("sale.go_back")
        -# End Customers button
    -# End Title
-# End Form title

-# Render Form
= render "form"
-# End Render Form
