-# History
%section.history
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-lg-10
        -# Heading
        %h1.false
          %i.fas.fa-history
          = t("views.history.history")
        -# End Heading

      .col-xs-12.col-lg-2
        -# Costumer button
        .btn-container
          = link_to (admin_costumer_path(@costumer)), class: "btn btn-general" do
            %i.fas.fa-id-card
            %span= t("activerecord.models.costumer")
        -# End Costumer button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path) do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_costumers_path) do
                %i.fas.fa-list-alt
                %span= t("header.navigation.costumers")
            %li
              = link_to (admin_costumer_path(@costumer)) do
                %i.fas.fa-id-card
                %span
                  = @costumer.first_name
                  = @costumer.last_name
            %li.active
              %i.fas.fa-history
              = t("views.history.history")
    -# End Breadcrumb

    -# Render timeline
    - model = Costumer
    = render partial: "partials/timeline", locals: {model: model}
    -# End Render timeline
-# End History
