-# Form
= form_for @customer, html: {autocomplete: "off", multipart: true} do |f|
  %section.form.sign-up
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @customer, model: Customer}
          -# End Show errors

        -# Only for new records
        %div{class: "#{action_name == 'new' || action_name == 'create' ? 'col-xs-12 col-md-6 col-md-offset-3 hidden' : 'col-xs-12 col-md-5 col-lg-4'}"}
          -# Material card
          %div{class: "material-card shadow-card #{@customer.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
                  -# Image
                  .image-container
                    - if @customer.image.attached?
                      = image_tag url_for(@customer.image), id: "preview-image", class: "img-responsive"

                    - else
                      = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), id: "preview-image", class: "img-responsive"
                  -# End Image

                  -# Input image
                  .form-group
                    .input-group
                      %input#filename.form-control{readonly: "readonly", type: "text"}/

                      %span.input-group-btn
                        %span.btn.btn-general.btn-file
                          %i.fas.fa-upload
                          = f.file_field :image, id: "select-image", accept: "image/*"
                  -# End Input image
          -# End Material card

        %div{class: "#{action_name == 'new' || action_name == 'create' ? 'col-xs-12 col-md-6' : 'col-xs-12 col-md-7 col-lg-8'}"}
          -# Material card
          %div{class: "material-card shadow-card #{@customer.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                  .form-group
                    = f.text_field :first_name, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.customer.first_name")
                    .border-bottom

                  .form-group
                    = f.text_field :last_name, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.customer.last_name")
                    .border-bottom

                  .form-group
                    = f.text_field :company, class: "form-control input"
                    %label
                      %b= t("activerecord.attributes.customer.company")
                    .border-bottom

                  .form-group
                    = f.email_field :email, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.customer.email")
                    .border-bottom

                  .form-group
                    -# < f.telephone_field :phone, class: "form-control input", "data-mask": "(000) 000-0000", required: true >
                    = f.telephone_field :phone, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.customer.phone")
                    .border-bottom

                  .form-group
                    = f.text_field :zipcode, class: "form-control input", "data-mask": "00000", required: true
                    %label
                      %b= t("activerecord.attributes.customer.zipcode")
                    .border-bottom

                  .form-group
                    = f.text_area :address, class: "form-control input text-area", required: true
                    %label
                      %b= t("activerecord.attributes.customer.address")
                    .border-bottom
          -# End Material card

        - if action_name == "new" || action_name == "create"
          .col-xs-12.col-md-6
            -# Material card
            %div{class: "material-card shadow-card #{@customer.state}"}
              .row.no-margin
                .col-xs-12.no-padding
                  .form-info
                    = f.fields_for :user do |u|
                      -# Email
                      = u.hidden_field :email, value: @customer.email
                      -# End Email

                      .form-group
                        = u.password_field :password, class: "form-control input", required: true
                        %label
                          %b= t("activerecord.attributes.user.password")
                        .border-bottom

                      .form-group
                        = u.password_field :password_confirmation, class: "form-control input", required: true
                        %label
                          %b= t("activerecord.attributes.user.password_confirmation")
                        .border-bottom

                      .form-group.static
                        .toggle#switcherToggle
                          = u.check_box :two_factor_auth, {class: "check", id: "switcher"}, "true", "false"
                          %b.b.switch
                        %label.checkbox
                          %b= t("activerecord.attributes.user.two_factor_auth")

                      - if action_name == 'new' || action_name == 'create'
                        -# Recaptcha
                        .form-group.text-center
                          = recaptcha_tags id: "recaptcha-center", hl: I18n.locale
                        -# End Recaptcha

                    -# Buttons
                    .main-buttons
                      .col-xs-12.button-container.no-padding
                        = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                          %i.fas.fa-eraser
                          %span= t("views.form.restart")

                        = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                          %i.fas.fa-save
                          %span= t("views.form.save")
                    -# End Buttons
            -# End Material card
-# End Form
