= form_tag stripe_checkout_path, method: "post", id: "payment-form" do
  -# Loading cart productss
  .cart-products-list

  = hidden_field_tag "address", "", id: "paypal-address"

  %p.powered_by
    -# %span= t("views.cart.powered_by_stripe")
    %i.fab.fa-stripe

  .form-row
    %label{for: "card-element"}= t("views.cart.credit_debit_card")

    #card-element
      -# A Stripe Element will be inserted here

    -# Used to display form errors.
    #card-errors{role: "alert"}

  #stripe-spinner
    %i.fas.fa-spinner.fa-spin

  %button#stripe-btn
    %span= t("views.cart.submit_payment")

-# Stripe script
= javascript_include_tag "stripe", "data-turbolinks-track": "reload"
-# End Stripe script
