.delivery_status
  %h2.info-title.aligned-text= t("sale.order_delivery_status")
  %h3.delivery_status.aligned-text
    - if sale.delivery_status == "in_queue" && sale.state
      = t("sale.ordered")

    - elsif sale.delivery_status == "shipped" && sale.state
      = t("sale.shipped")

    - elsif sale.delivery_status == "delivered" && sale.state
      - if !sale.delivery_confirmed
        = t("sale.delivered")
        .button-container.confirm
          = link_to confirm_delivery_path(sale.id), class: "btn btn-general", method: "patch" do
            %i.fas.fa-check-double
            %span= t("sale.confirm_delivery")
      - else
        = t("sale.delivery_confirmed")

    - elsif sale.delivery_status == "returned" && sale.state
      = t("sale.returned")

    - elsif !sale.state
      %span.canceled= t("sale.canceled")
