-# Details
%section.details
  .container
    -# Title
    .row.title-container
      .col-xs-12.text-right
        - if customer.user.present?
          -# Update password button
          .btn-container.inline
            = link_to (customer_update_password_path), class: "btn btn-general" do
              %i.fas.fa-key
              %span= t("views.edit.update_password")
          -# End Update password button
    -# End Title

    -# Information
    .row
      .col-xs-12.col-md-5.col-lg-4
        -# Material card
        %div{class: "material-card shadow-card #{customer.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              .general-info
                -# Image
                .image-container
                  - if customer.image.attached?
                    = image_tag url_for(customer.image), class: "img-responsive"

                  - else
                    = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), class: "img-responsive"
                -# End Image

                .main-info
                  %p= t("views.show.created_at", time: time_ago_in_words(customer.created_at))
                  %p= t("views.show.updated_at", time: time_ago_in_words(customer.updated_at))

                .main-buttons
                  .col-xs-12.col-sm-6.col-sm-offset-3.button-container.no-padding
                    = link_to (edit_customer_path), class: "btn btn-general" do
                      %i.fas.fa-edit
                      %span= t("views.show.edit")

                  - if customer.state
                    .col-xs-12.col-sm-8.col-sm-offset-2.button-container.no-padding
                      = link_to (deactive_customer_path), method: "patch", class: "btn btn-general" do
                        %i.fas.fa-user-times
                        %span= t("views.show.delete_account")
        -# End Material card

      .col-xs-12.col-md-7.col-lg-8
        -# Material card
        %div{class: "material-card shadow-card #{customer.state}"}
          .row.no-margin
            .col-xs-12.no-padding
              %div{class: "detail-info #{customer.state}"}
                -# Set attributes
                - attributes = ["first_name", "last_name", "company", "email" ,"phone", "zipcode", "address", "state"]

                - attributes.each do |attribute|
                  .info
                    %p.title
                      %b= t("activerecord.attributes.customer.#{attribute}")

                    - if attribute == "state"
                      %p= customer.state ? t("views.show.enabled") : t("views.show.disabled")

                    - else
                      %p= customer["#{attribute}"]

                -# Set user attributes
                - user_attributes = ["confirmed", "sign_in_count", "current_sign_in_at", "current_sign_in_ip", "last_sign_in_at", "last_sign_in_ip"]

                  - user_attributes.each do |attribute| if customer.user.present?
                    .info
                      %p.title
                        %b= t("activerecord.attributes.user.#{attribute}")

                      - if attribute == "confirmed"
                        %p= customer.user.confirmed ? t("views.show.confirmed") : t("views.show.not_confirmed")

                      - elsif attribute == "current_sign_in_at" || attribute == "last_sign_in_at"
                        %p= format_datetime(customer.user["#{attribute}"])

                      - else
                        %p= customer.user["#{attribute}"]
        -# End Material card
    -# End Information
-# End Details
