%tr{class: "clickable-row #{provider.state}", "data-href": "#{admin_provider_path(provider)}"}
  -# Set attributes
  - attributes = ["name", "FEIN", "email" ,"phone"]

  %td
    = link_to admin_provider_path(provider), class: "record-link", "data-header": "No.", "data-toggle": "tooltip", "data-placement": "bottom", title: provider.id do
      %p= provider.id

  - attributes.each do |attribute|
    %td
      = link_to admin_provider_path(provider), class: "record-link", "data-header": t("activerecord.attributes.provider.#{attribute}"), "data-toggle": "tooltip", "data-placement": "bottom", title: provider["#{attribute}"] do
        %p= provider["#{attribute}"]
