%section.message
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        -# Material card
        .material-card.shadow-card.true
          .row.no-margin
            -# Flash notifications
            = render "admin/partials/authentication_flash"
            -# End Flash notifications

            .col-xs-12.no-padding.redirect-container
              -# Not found - back to home
              - if @source == "not-found"
                %p
                  = link_to (admin_root_path), title: "t('views.errors.back_to_home')" do
                    %i.fas.fa-undo-alt
                    %span= t("views.errors.back_to_home")

              -# Confirmation resend instructions
              - elsif @source == "confirmation"
                %p
                  = link_to (admin_confirm_account_path), title: "t('views.authentication.resend_instructions')" do
                    %i.fas.fa-envelope
                    %span= t("views.authentication.resend_instructions")

              -# Unlock resend instructions
              - elsif @source == "unlock"
                %p
                  = link_to (admin_unlock_account_path), title: "t('views.authentication.resend_instructions')" do
                    %i.fas.fa-envelope
                    %span= t("views.authentication.resend_instructions")

              -# Reset password resend instructions
              - elsif @source == "reset-password"
                %p
                  = link_to (admin_reset_password_path), title: "t('views.authentication.resend_instructions')" do
                    %i.fas.fa-envelope
                    %span= t("views.authentication.resend_instructions")
        -# End Material card
