<div class="col-xs-4">
  <!-- Material card -->
  <div class="material-card material-card-pdf shadow-card shadow-card-pdf <%= resource.state %>">
    <!-- General information -->
    <div class="row no-margin">
      <div class="col-xs-12 no-padding">
        <div class="general-info">
          <div class="image-container">
            <%= image_tag resource.image.url(:medium), class: "img-responsive" %>
          </div>
        </div>
      </div>
    </div>
    <!-- End General information -->
  </div>
  <!-- End Material card -->
</div>

<div class="col-xs-8">
  <!-- Material card -->
  <div class="material-card material-card-pdf shadow-card shadow-card-pdf <%= resource.state %>">
    <div class="row no-margin">
      <div class="col-xs-12 no-padding">
        <div class="detail-info <%= resource.state %>">

          <% attributes.each do |attribute| %>
          <div class="info">
            <p class="title"><b><%= t("activerecord.attributes.#{resource}.#{attribute}") %></b></p>

            <% if attribute == "state" %>
            <p><%= resource["#{attribute}"] ? t("views.show.enabled") : t("views.show.disabled") %></p>
            <% elsif attribute == "confirmed" %>
            <p><%= resource["#{attribute}"] ? t("views.show.confirmed") : t("views.show.not_confirmed") %></p>
            <% else %>
            <p><%= resource["#{attribute}"] %></p>
            <% end %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <!-- End Material card -->
</div>
