.row
  .col-xs-12
    -# Material card
    .material-card.shadow-card
      .row.no-margin
        -# Timeline
        .about-timeline.col-xs-12.no-padding
          -# Timeline First
          .timeline-info.first-last-row
            -# Bullet
            .timeline-circle
              .begin-final-divider
              .vertical-line.first-line
            -# End Bullet

            -# Horizontal line
            .timeline-horizontal-line
            -# End Horizontal line

            -# Timeline content
            .timeline-content.no-padding
            -# End Timeline content
          -# End Timeline First

          -# Audit
          - @history.order(:created_at).reverse.each do |record|
            -# Information
            .timeline-info
              -# Bullet
              .timeline-circle
                %div{alt: "Timeline circle", class: "circle #{record.action == "create" ? "new" : "edit"}"}
                  - if record.action == "create"
                    %i.fas.fa-plus

                  - else
                    %i.fas.fa-edit
                .vertical-line
              -# End Bullet

              -# Horizontal line
              .timeline-horizontal-line
                .horizontal-line
              -# End Horizontal line

              -# Timeline content
              .timeline-content.no-padding
                %div{class: "timeline-box #{record.action == "create" ? "new" : "edit"}"}
                  .detail-info
                    %div
                      %p.title.datetime
                        %b= I18n.localize record.created_at

                    -# Attribute and Changes
                    - record.audited_changes.each do |attribute, changes|
                      -# Confidential attributes
                      - confidential_attrs = ["password_digest", "reset_password_token", "reset_password_sent" ,"reset_password_sent_at", "confirmation_token", "confirmation_sent", "failed_attempts", "unlock_token", "unlock_sent", "two_factor_auth_otp"]

                      -# Hidden attributes
                      - hidden_attrs = ["slug", "employee_id"]

                      -# User attributes
                      - user_attrs = ["email", "password_confirmation", "sign_in_count", "current_sign_in_at", "last_sign_in_at", "current_sign_in_ip", "last_sign_in_ip", "confirmed", "two_factor_auth"]

                      - user_attrs += confidential_attrs

                      -# If information does not include hidden attributes
                      - if !hidden_attrs.include? attribute
                        .info
                          %p.title
                          - if user_attrs.include? attribute
                            %b= User.human_attribute_name(attribute)

                          - else
                            %b= model.human_attribute_name(attribute)

                          -# If information is confidential
                          - if confidential_attrs.include? attribute
                            %p.before
                              %i.fas.fa-user-secret
                              = t("views.history.confidential_info")

                            -# If information is not confidential
                          - else
                            -# Update
                            - if record.action == "update"
                              -# New info
                              %p.after
                                %i.fas.fa-check-circle
                                = clean_history(changes[1], attribute)

                              -# Previous info
                              %p.before
                                %i.fas.fa-times-circle
                                = clean_history(changes[0], attribute)

                              -# New
                            - else
                              %p= clean_history(changes, attribute)
                            -# End Update | New

                          -# End Information is confidential | not confidential
                      -# End If information does not include hidden attributes
                    -# End Attribute and Changes

                    -# Made by
                    - if record.user.present?
                      .info
                        %p.title
                          %b= t("views.history.made_by")
                        %p
                          = record.user.first_name
                          = record.user.last_name

                    -# Device IP
                    .info
                      %p.title
                        %b= t("views.history.device_ip")
                      %p= record.remote_address

              -# End Timeline content
            -# End Information
          -# End Audit

          -# Timeline Last
          .timeline-info.first-last-row
            -# Bullet
            .timeline-circle
              .begin-final-divider
            -# End Bullet

            -# Horizontal line
            .timeline-horizontal-line
            -# End Horizontal line

            -# Timeline content
            .timeline-content.no-padding
            -# End Timeline content
          -# End Timeline Last

      -# End Timeline
    -# End Material card
