.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "provider"
        - attributes = ["name", "FEIN", "email", "phone", "select"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}
      %tbody
        -# Data table render_sync
        = sync partial: "select_provider", collection: @providers
        = sync_new partial: "select_provider", resource: Provider.new
        -# End Data table render_sync
    -# End Table

.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @providers, renderer: BootstrapPagination::Rails, param_name: "providers_page"
    -# End Pagination

-# Auto search script
= javascript_include_tag "auto-search", "data-turbolinks-track": "reload"
-# End Auto search script

-# Pagination with Ajax script
= javascript_include_tag "pagination-ajax", "data-turbolinks-track": "reload"
-# End Pagination with Ajax script

-# Select provider
= javascript_include_tag "select-provider", "data-turbolinks-track": "reload"
-# End Select provider
