-# PDF resource
-# resource
-# End PDF resource

-# Index PDF
%section.index.index-pdf
  .container
    .row
      .col-xs-12
        -# Material card
        .material-card.shadow-card.material-card-pdf.shadow-card-pdf
          .row.no-margin
            .col-xs-12.no-padding
              %h1.text-center= pdf_title
              -# Table
              %table.table.table-pdf
                -# Set attributes
                - model = "purchase_details"
                -# - attributes
                - attributes = ["purchase_datetime", "provider", "product", "category", "price", "quantity", "total", "employee"]

                -# Render table header
                = render partial: "partials/table_header_number", locals: {model: model, attributes: attributes}
                %tbody
                  - resource.each do |detail|

                    %tr.true
                      - attributes.each do |attribute|
                        %td
                          - if attribute == "purchase_datetime"
                            %p= I18n.locale == :es ? detail.purchase.purchase_datetime.strftime("%d/%m/%Y") : detail.purchase.purchase_datetime.strftime("%m/%d/%Y")

                          - elsif attribute == "provider"
                            %p= "#{detail.purchase.provider.name}"

                          - elsif attribute == "product"
                            %p=  I18n.locale == :es ? detail.product.name_spanish : detail.product.name

                          - elsif attribute == "category"
                            %p=  I18n.locale == :es ? detail.product.category.name_spanish : detail.product.category.name

                          - elsif attribute == "price"
                            %p= number_to_currency(detail.price, precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                          - elsif attribute == "total"
                            %p= number_to_currency((detail.price * detail.quantity), precision: 2, unit: "$", format: "%u%n", separator: ".", delimiter: ",")

                          - elsif attribute == "employee"
                            %p= "#{detail.purchase.employee.first_name} #{detail.purchase.employee.last_name}"

                          - else
                            %p= detail["#{attribute}"]
              -# End Table
        -# End Material card
-# End Index PDF
