.row.no-margin
  .col-xs-12.no-padding
    -# Table
    %table.table
      %thead
        - model = "category"
        - attributes = ["name", "description", "select"]

        -# Render table header
        = render partial: "partials/table_header", locals: {model: model, attributes: attributes}

        - attributes = I18n.locale == :es ? ["name_spanish", "description_spanish"] : ["name", "description"]

      %tbody
        -# Data table render_sync
        = sync partial: "select_category", collection: @categories
        = sync_new partial: "select_category", resource: Category.new
        -# End Data table render_sync
    -# End Table

.row.no-margin
  .col-xs-12.no-padding.text-center
    -# Pagination
    = will_paginate @categories, renderer: BootstrapPagination::Rails
    -# End Pagination

-# Auto search script
= javascript_include_tag "auto-search", "data-turbolinks-track": "reload"
-# End Auto search script

-# Pagination with Ajax script
= javascript_include_tag "pagination-ajax", "data-turbolinks-track": "reload"
-# End Pagination with Ajax script

-# Select category
= javascript_include_tag "select-category", "data-turbolinks-track": "reload"
-# End Select category
