-# Form
= form_for [:admin, @product], html: {autocomplete: "off", multipart: true} do |f|
  %section.form
    .container
      .row
        .col-xs-12
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @product, model: Product}
          -# End Show errors

        .col-xs-12.col-md-5.col-lg-4
          -# Material card
          %div{class: "material-card shadow-card #{@product.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .general-info
                  -# Image
                  .image-container
                    - if @product.image.attached?
                      = image_tag url_for(@product.image), id: "preview-image", class: "img-responsive"

                    - else
                      = image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), id: "preview-image", class: "img-responsive"
                  -# End Image

                  -# Input image
                  .form-group
                    .input-group
                      %input#filename.form-control{readonly: "readonly", type: "text"}/

                      %span.input-group-btn
                        %span.btn.btn-general.btn-file
                          %i.fas.fa-upload
                          = f.file_field :image, id: "select-image", accept: "image/*"
                  -# End Input image
          -# End Material card

        .col-xs-12.col-md-7.col-lg-8
          -# Material card
          %div{class: "material-card shadow-card #{@product.state}"}
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                  .form-group
                    = f.text_field :name, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.product.name")
                    .border-bottom

                  .form-group
                    = f.text_field :name_spanish, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.product.name_spanish")
                    .border-bottom

                  .form-group
                    = f.text_field :barcode, class: "form-control input", required: true
                    %label
                      %b= t("activerecord.attributes.product.barcode")
                    .border-bottom

                  .form-group
                    = f.text_field :price, class: "form-control input price", required: true
                    %label
                      %b= t("activerecord.attributes.product.price")
                    .border-bottom

                  .form-group
                    .input-btn-group
                      = f.hidden_field :category_id
                      = f.text_field :category, value: @product.category_id.nil? ? "" : "#{@product.category.name}", class: "form-control input no-events", required: true
                      %label
                        %b= t("activerecord.attributes.product.category")
                      .border-bottom

                      = link_to "", class: "btn btn-general", "data-toggle": "modal", "data-target": "#getCategories" do
                        %i.fas.fa-search

                  .form-group
                    = f.text_area :content, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.content")
                    .border-bottom

                  .form-group
                    = f.text_area :content_spanish, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.content_spanish")
                    .border-bottom

                  .form-group
                    = f.text_area :description, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.description")
                    .border-bottom

                  .form-group
                    = f.text_area :description_spanish, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.description_spanish")
                    .border-bottom

                  .form-group
                    = f.text_area :recipes, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.recipes")
                    .border-bottom

                  .form-group
                    = f.text_area :recipes_spanish, class: "form-control input text-area"
                    %label
                      %b= t("activerecord.attributes.product.recipes_spanish")
                    .border-bottom

                  -# Buttons
                  .main-buttons
                    .col-xs-12.button-container.no-padding
                      = button_tag type: "reset", id: "reset-button", class: "btn btn-general" do
                        %i.fas.fa-eraser
                        %span= t("views.form.restart")

                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons
          -# End Material card
-# End Form

-# Modal
.modal.fade{id: "getCategories", tabindex: "-1", role: "dialog", "aria-labelledby": "", "aria-hidden": "true"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{type: "button", "data-dismiss": "modal", "aria-hidden": "true", "data-toggle": "tooltip", "data-placement": "left", title: t("views.form.close")}
          &times;

        -# Render categories list
        = render "modal"
        -# End Render categories list
