-# Index
%section.index
  .container-fluid
    .row
      .col-xs-12.col-sm-12
        -# Material card
        .material-card.shadow-card
          -# Title
          .row.no-margin.title-container
            .col-xs-12.col-lg-12
              -# Heading
              %h1
                %i.fas.fa-list-alt
                = t("header.navigation.categories")
              -# End Heading
          -# End Title

          .row.no-margin
            -# Search record
            .col-xs-12.col-md-6.no-padding
              #search-record.search-record
                -# Form
                = form_tag @search_form_path, method: "get", id: "search-form", autocomplete:"off", remote: true do
                  .input-group
                    = text_field_tag :search, params[:search], id: "search-input", class: "form-control", placeholder: t("views.index.search")
                    .border-bottom

                    %span.input-group-btn
                      = button_tag t("elements.search"), id: "search-btn", class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-search
                -# End Form
            -# End Search record

            .col-xs-12.col-md-6.no-padding.text-right

          -# Render table and pagination with Ajax
          #render-data-search
            = render "categories_search"
          -# End Render table and pagination with Ajax
        -# End Material card
-# End Index
