-# Form Title
%section.form-title
  .container
    -# Title
    .row.title-container
      .col-xs-12.col-sm-4.col-lg-8
        -# Heading
        %h1{class: "#{@product.state}"}
          %i.fas.fa-edit
          = t("views.edit.edit")
        -# End Heading

      .col-xs-12.col-sm-8.col-lg-4.text-right
        -# Product button
        .btn-container
          = link_to (admin_product_path(@product)), class: "btn btn-general" do
            %i.fas.fa-id-card
            %span= t("activerecord.models.product")
        -# End Product button
    -# End Title

    -# Breadcrumb
    .row
      .col-xs-12.hidden-xs
        .breadcrumb-container
          %ol.breadcrumb
            %li
              = link_to (admin_root_path), "data-toggle": "tooltip", "data-placement": "bottom", title: t("header.navigation.dashboard") do
                %i.fas.fa-tachometer-alt
                %span= t("header.navigation.dashboard")
            %li
              = link_to (admin_products_path) do
                %i.fas.fa-list-alt
                %span= t("header.navigation.products")
            %li
              = link_to (admin_product_path(@product)) do
                %i.fas.fa-id-card
                %span
                  - if I18n.locale == :es
                    = @product.name_spanish

                  - else
                    = @product.name
            %li.active
              %i.fas.fa-edit
              = t("views.edit.edit")
    -# End Breadcrumb
-# End Form Title

-# Render form
= render "form"
-# End Render form
