%tr{class: "clickable-row #{costumer.state}", "data-href": "#{admin_costumer_path(costumer)}"}
  -# Set attributes
  - attributes = ["first_name", "last_name", "email" ,"phone", "address"]

  %td
    = link_to admin_costumer_path(costumer), class: "record-link", "data-header": "No." do
      %p= costumer.id

  - attributes.each do |attribute|
    %td
      = link_to admin_costumer_path(costumer), class: "record-link", "data-header": t("activerecord.attributes.costumer.#{attribute}") do
        %p= costumer["#{attribute}"]
