-# Form
= form_for  @user, url: @form_url, html: {autocomplete: "off"} do |f|
  %section.form
    .container
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          -# Show errors
          = render partial: "partials/form_errors", locals: {resource: @user, model: User}
          -# End Show errors

        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          -# Material card
          %div{class: "material-card shadow-card #{@employee ? @employee.state : @customer.state}"}
            -# Table
            .row.no-margin
              .col-xs-12.no-padding
                .form-info
                  -# Email
                  = f.hidden_field :email, value: @employee ? @employee.email : @customer.email
                  -# End Email

                  .form-group
                    = f.password_field :password, class: "form-control input", placeholder: t("activerecord.attributes.user.password"), required: @required
                    %label
                      %b= t("activerecord.attributes.user.password")
                    .border-bottom

                  .form-group
                    = f.password_field :password_confirmation, class: "form-control input", placeholder: t("activerecord.attributes.user.password_confirmation"), required: @required
                    %label
                      %b= t("activerecord.attributes.user.password_confirmation")
                    .border-bottom

                  .form-group.static
                    .toggle#switcherToggle
                      = f.check_box :two_factor_auth, {class: "check", id: "switcher"}, "true", "false"
                      %b.b.switch
                    %label.checkbox
                      %b= t("activerecord.attributes.user.two_factor_auth")

                  -# Buttons
                  .main-buttons
                    .col-xs-12.col-sm-12.button-container.no-padding
                      = f.button class: "btn btn-general", data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"} do
                        %i.fas.fa-save
                        %span= t("views.form.save")
                  -# End Buttons
          -# End Material card
-# End Form
