<!-- Form Title -->
<section class="form-title">
  <div class="container">
    <!-- Title -->
    <div class="row title-container">
      <div class="col-xs-12 col-lg-10">
        <!-- Heading -->
        <h1 class="false"><i class="fas fa-key"></i> <%= t("views.edit.update_password") %></h1>
        <!-- End Heading -->
      </div>

      <div class="col-xs-12 col-lg-2">
        <!-- Employee button -->
        <div class="btn-container">
          <%= link_to (admin_employee_path(@employee)), class: "btn btn-general" do %><i class="fas fa-id-card"></i> <span><%= t("activerecord.models.employee") %></span><% end %>
        </div>
        <!-- End Employee button -->
      </div>
    </div>
    <!-- End Title -->

    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <li>
              <%= link_to (admin_root_path) do %><i class="fas fa-tachometer-alt"></i> <span><%= t("header.navigation.dashboard") %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_employees_path) do %><i class="fas fa-list-alt"></i> <span><%= t("header.navigation.employees") %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_employee_path(@employee)) do %><i class="fas fa-id-card"></i> <span><%= @employee.first_name %> <%= @employee.last_name %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_edit_employee_path(@employee)) do %><i class="fas fa-edit"></i> <span><%= t("views.show.edit") %></span><% end %>
            </li>

            <li class="active">
              <i class="fas fa-key"></i> <%= t("views.edit.update_password") %>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb -->
  </div>
</section>
<!-- End Form Title -->

<!-- Form -->
<%= render "form" %>
<!-- End Form -->
