%section.wrap
  .banner.grad-section
    .container-fluid
      .row
        .col-xs-12
          - if @category.present?
            -# Category title render_sync
            = sync partial: "category_title", resource: @category
            = sync_new partial: "category_title", resource: Category.new
            -# End Category title render_sync

          - else
            %h1.search-title.text-center= t("views.navigation.all_products")

    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .search-container.animated.opacity-up{"data-delay": "1500", "data-scroll": "0"}
            -# Render search_form
            = render "layouts/search_form"
            -# End Render search_form

  #prp-content.main-content
    = render "products"

-# Pagination with Ajax script
= javascript_include_tag "pagination-ajax", "data-turbolinks-track": "reload"
-# End Pagination with Ajax script
