%section.wrap
  .banner.grad-section
    .container-fluid
      .row
        .col-xs-12
          -# Category title render_sync
          = sync partial: "product_title", resource: @product
          -# = sync_new partial: "product_title", resource: Product.new
          -# End Category title render_sync

    .container
      .row
        .col-xs-12.col-sm-6.col-sm-offset-3
          .search-container.animated.opacity-up{"data-delay": "1500", "data-scroll": "0"}
            -# Render search_form
            = render "layouts/search_form"
            -# End Render search_form

  #pdp-content.main-content
    .container
      .row.hidden-xs
        .col-xs-12
          .breadcrumb-container
            %ol.breadcrumb
              %li
                = link_to t("views.navigation.all_products"), products_path

              -# Category link render_sync
              = sync partial: "breadcrumb_link", resource: @category
              -# = sync_new partial: "breadcrumb_link", resource: Category.new
              -# End Category link render_sync

              -# Product name render_sync
              = sync partial: "breadcrumb_name", resource: @product
              -# = sync_new partial: "breadcrumb_name", resource: Product.new
              -# End Product name render_sync

      -# Data details render_sync
      = sync partial: "data_details_ecommerce", resource: @product
      -# = sync_new partial: "data_details_ecommerce", resource: Product.new
      -# End Data details render_sync

      - if @products.count > 0
        -# Render related products
        = render "related_products"
        -# End Render related products
