%tr{class: "clickable-row #{employee.state}", "data-href": "#{admin_employee_path(employee)}"}
  -# Set attributes
  - attributes = ["first_name", "last_name", "email" ,"phone", "role"]

  %td
    = link_to admin_employee_path(employee), class: "record-link", "data-header": "No.", "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
      %p= employee.id

  - attributes.each do |attribute|
    %td
      = link_to admin_employee_path(employee), class: "record-link", "data-header": t("activerecord.attributes.employee.#{attribute}"), "data-toggle": "tooltip", "data-placement": "bottom", title: t("views.index.view_details") do
        %p= employee["#{attribute}"]
