<!-- Details -->
<section class="details">
  <div class="container">
    <!-- Title -->
    <div class="row title-container">
      <div class="col-xs-12 col-lg-8">
        <!-- Heading -->
        <h1 class="<%= employee.state %>"><i class="fas fa-id-card"></i> <%= employee.first_name %> <%= employee.last_name %></h1>
        <!-- End Heading -->
      </div>

      <div class="col-xs-12 col-lg-4">
        <!-- Export button-->
        <div class="btn-new-container">
          <%= link_to (admin_employee_path(employee, format: "pdf", lang: I18n.locale)), target: "_blank", class: "btn btn-general" do %><i class="fas fa-download"></i> <span><%= t("views.index.export") %></span><% end %>

            <%= link_to (admin_new_employee_user_path(employee)), class: "btn btn-general" do %><i class="fas fa-download"></i> <span><%= t("views.index.create_user") %></span><% end %>
        </div>
        <!-- End Export button-->
      </div>
    </div>
    <!-- End Title -->

    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <div class="breadcrumb-container">
          <ol class="breadcrumb">
            <li>
              <%= link_to (admin_root_path) do %><i class="fas fa-tachometer-alt"></i> <span><%= t("header.navigation.dashboard") %></span><% end %>
            </li>

            <li>
              <%= link_to (admin_employees_path) do %><i class="fas fa-list-alt"></i> <span><%= t("header.navigation.employees") %></span><% end %>
            </li>

            <li class="active">
              <i class="fas fa-id-card"></i> <%= employee.first_name %> <%= employee.last_name %>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Information -->
    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-4">
        <!-- Material card -->
        <div class="material-card shadow-card <%= employee.state %>">
          <!-- General information -->
          <div class="row no-margin">
            <div class="col-xs-12 no-padding">
              <div class="general-info">

                <!-- Image -->
                <div class="image-container">
                  <% if employee.image.attached? %>
                  <%= image_tag url_for(employee.image), class: "img-responsive" %>
                  <% else %>
                  <%= image_tag url_for("https://s3.amazonaws.com/betterandnice/images/default/default.png"), class: "img-responsive" %>
                  <% end %>
                </div>
                <!-- End Image -->

                <div class="main-info">
                  <p><%= t("views.show.created_at", time: time_ago_in_words(employee.created_at)) %></p>
                  <p><%= t("views.show.updated_at", time: time_ago_in_words(employee.updated_at)) %></p>
                </div>

                <div class="main-buttons">
                  <div class="col-xs-12 col-sm-4 col-md-6 button-container no-padding">
                    <%= link_to (admin_edit_employee_path(employee)), class: "btn btn-general" do %><i class="fas fa-edit"></i> <span><%= t("views.show.edit") %></span><% end %>
                  </div>

                  <div class="col-xs-12 col-sm-4 col-md-6 button-container no-padding">
                    <%= link_to (admin_history_employee_path(employee)), class: "btn btn-general" do %><i class="fas fa-history"></i> <span><%= t("views.show.history") %></span><% end %>
                  </div>

                  <div class="col-xs-12 col-sm-4 col-md-12 button-container no-padding">
                    <% if(employee.state) %>
                    <%= link_to (admin_deactive_employee_path(employee)), method: :patch, class: "btn btn-general" do %><i class="fas fa-times"></i> <span><%= t("views.show.disable") %></span><% end %>

                    <% else %>
                    <%= link_to (admin_active_employee_path(employee)), method: :patch, class: "btn btn-general" do %><i class="fas fa-check"></i> <span><%= t("views.show.enable") %></span><% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End General information -->
        </div>
        <!-- End Material card -->
      </div>

      <div class="col-xs-12 col-md-7 col-lg-8">
        <!-- Material card -->
        <div class="material-card shadow-card <%= employee.state %>">
          <div class="row no-margin">
            <div class="col-xs-12 no-padding">
              <div class="detail-info <%= employee.state %>">
                <% attributes = ["email" ,"phone", "role", "sign_in_count", "current_sign_in_at", "last_sign_in_at", "current_sign_in_ip", "last_sign_in_ip", "confirmed", "state"] %>

                <% attributes.each do |attribute| %>
                <div class="info">
                  <p class="title"><b><%= t("activerecord.attributes.employee.#{attribute}") %></b></p>

                  <% if attribute == "state" %>
                  <p><%= employee["#{attribute}"] ? t("views.show.enabled") : t("views.show.disabled") %></p>

                  <% elsif attribute == "confirmed" %>
                  <p><%= employee["#{attribute}"] ? t("views.show.confirmed") : t("views.show.not_confirmed") %></p>

                  <% else %>
                  <p><%= employee["#{attribute}"] %></p>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!-- End Material card -->
      </div>
    </div>
    <!-- End Information -->
  </div>
</section>
<!-- End Details -->
