<% attributes = ["first_name", "last_name", "email" ,"phone", "role"] %>

<tr class="clickable-row <%= employee.state %>" data-href="<%= admin_employee_path(employee) %>">
  <td data-header="No."><p><%= employee.id %></p></td>
  <% attributes.each do |attribute| %>
  <td data-header='<%= t("activerecord.attributes.employee.#{attribute}") %>'><p><%= employee["#{attribute}"] %></p></td>
  <% end %>
</tr>
