%footer
  .footer-bottom
    .container-fluid
      .row
        .col-xs-12.col-lg-10.info-col
          %p
            = image_tag "img/usda-organic.png", class: "img-responsive hidden-xs", alt: "USDA Organic"
            © #{Time.now.year} Better and Nice Produce Corp.
            %span
              = t("views.landing.designed_developed")
              %i.fas.fa-heart
              = t("views.landing.by")
              = "Tenorio #{t('views.landing.and')} Domínguez." 
        .col-xs-12.col-lg-2.social-col
          .social-icons
            %ul.list-inline.social-items
              %li
                %a.custom-social.facebook-icon{href: "https://www.facebook.com/banpcorp/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Facebook"}
                  %i.fab.fa-facebook-f
              %li
                %a.custom-social.twitter-icon{href: "https://twitter.com/banpcorp", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Twitter"}
                  %i.fab.fa-twitter
              %li
                %a.custom-social.linkedin-icon{href: "https://www.linkedin.com/company/banp-corp/about/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "LinkedIn"}
                  %i.fab.fa-linkedin-in
              %li
                %a.custom-social.instagram-icon{href: "https://www.instagram.com/banp_corp/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Instagram"}
                  %i.fab.fa-instagram

%a#top-link.affix-top.scroll-to{"data-offset-top": "50", "data-spy": "affix", href: "#back-to-top", "data-toggle": "tooltip", "data-placement": "left", title: t("views.landing.back_to_top")}
  %i.fas.fa-chevron-up
  %span.sr-only= t("views.landing.back_to_top")
