%section.panel.contact-us{"data-section-name": "contact-us"}
  .center-content.section-center
    .container
      .row
        .col-xs-12
          %h2.section-title.text-center.animated.opacity-down{"data-delay": "0", "data-scroll": "auto"}= t("views.landing.contact_us")

        .col-xs-12.col-sm-10.col-sm-offset-1
          .text-content.text-center.animated.opacity-up.responsive-element{"data-delay": "0", "data-scroll": "auto"}
            %p= t("views.landing.contact_us_description")

    .contact-information
      .container
        .row
          .col-xs-12.col-sm-5.col-md-offset-1.col-lg-4.col-lg-offset-2
            .social.animated.opacity-right{"data-delay": "0", "data-scroll": "auto"}
              %ul.social-list.list-inline.text-center
                %li
                  %a.fb{href: "https://www.facebook.com/banpcorp/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Facebook"}
                    %i.fab.fa-facebook-f
                %li
                  %a.tw{href: "https://twitter.com/banpcorp", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Twitter"}
                    %i.fab.fa-twitter
                %li
                  %a.in{href: "https://www.linkedin.com/company/banp-corp/about/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "LinkedIn"}
                    %i.fab.fa-linkedin-in
                %li
                  %a.ig{href: "https://www.instagram.com/banp_corp/", target: "_blank", "data-toggle": "tooltip", "data-placement": "left", title: "Instagram"}
                    %i.fab.fa-instagram
            .phone
              %p.text-center
                %a{href: "tel:+3055573700"} 305-557-3700

          .col-xs-12.col-sm-6.col-md-5.col-lg-4
            .map-container.animated.opacity{"data-delay": "0", "data-scroll": "auto"}
              #map
                %iframe{allowfullscreen: "", frameborder: "0", height: "100%", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3592.253194827384!2d-80.2243425!3d25.7952197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b6d013855555%3A0x5800069f097d91d!2sBetter+and+Nice+Produce+Corp!5e0!3m2!1ses-419!2sni!4v1538183044678", width: "100%"}
              %p.text-center
                = t("views.landing.is_located")

  %footer
    #footer.last-information
      .container-fluid
        .row
          .col-xs-12
            %p.text-center
              = image_tag "img/usda-organic.png", class: "img-responsive hidden-xs", alt: "USDA Organic"
              = image_tag "img/usda-organic-mobile.png", class: "img-responsive visible-xs", alt: "USDA Organic"
              © #{Time.now.year} Better and Nice Produce Corp.
              %span
                = t("views.landing.designed_developed")
                %i.fas.fa-heart
                = t("views.landing.by")
                Tenorio and Domínguez.
