%body
  #back-to-top.navbar-fixed-top.affix-top{"data-offset-top": "1", "data-spy": "affix"}

  -# Header
  %header.navbar-fixed-top.affix-top{"data-offset-top": "1", "data-spy": "affix"}
    -# Top social
    %section.top-social.hidden-xs
      .container-fluid
        .row
          .col-xs-12.col-sm-3
            .social-icons
              %ul.list-inline.social-items
                %li
                  %a.custom-social.facebook-icon{href: "#", target: "_blank"}
                    %i.fab.fa-facebook-f
                %li
                  %a.custom-social.twitter-icon{href: "#", target: "_blank"}
                    %i.fab.fa-twitter
                %li
                  %a.custom-social.linkedin-icon{href: "#", target: "_blank"}
                    %i.fab.fa-linkedin-in
                %li
                  %a.custom-social.instagram-icon{href: "#", target: "_blank"}
                    %i.fab.fa-instagram

          .col-xs-12.col-sm-6
            %p.text-center.no-margin.top-center
              = t("views.landing.motto")

          .col-xs-12.col-sm-3
            -# Render languages
            = render "layouts/languages_ecommerce"
            -# End Render languages

    -# Top navbar
    %section.top-navbar
      -# Navbar default
      %nav.navbar.navbar-default{role: "navigation"}
        .container-fluid
          -# Navbar mobile
          .navbar-header
            -# Navbar toggle
            %button.navbar-toggle.collapsed{"aria-expanded": "false", "data-target": "#navbar", "data-toggle": "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar.top-bar
              %span.icon-bar.middle-bar
              %span.icon-bar.bottom-bar

            -# Logo
            %a.navbar-brand{alt: "BANP", href: "/", title: "BANP"} BANP

          -# Navbar collapse
          #navbar.collapse.navbar-collapse
            -# Navbar nav
            %ul.nav.navbar-nav
              -# Navigation
              %li{class: "#{'active' if controller_name == 'landing'}"}
                = link_to t("views.navigation.home"), root_path

              %li{class: "#{'active' if controller_name == 'landing'}"}
                = link_to t("views.landing.how_we_work"), root_path(anchor: "how-we-work")

              %li{class: "#{'active' if controller_name == 'products'}"}
                = link_to t("views.navigation.all_products"), products_path

              %li{class: "#{'active' if controller_name == 'landing'}"}
                = link_to t("views.landing.contact_us"), root_path(anchor: "contact-us")
              
              -# Render languages
              = render "layouts/languages_ecommerce_mobile"
              -# End Render languages

              %li.dropdown.hidden-xs
                %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
                  -# Render cart
                  = render "layouts/cart"
                  -# End Render cart

                -# Render cart details
                = render "layouts/cart_details"
                -# End Render cart details

              -# Render user
              = render "layouts/user"
              -# End Render user

        .dropdown.cart-dropdown.visible-xs
          %button#cart-dropdown-btn.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
            -# Render cart
            = render "layouts/cart"
            -# End Render cart

          -# Render cart details
          = render "layouts/cart_details"
          -# End Render cart details
