-# Form
= form_tag products_path, method: "get", autocomplete:"on" do
  .group
    = text_field_tag :product, params[:product], placeholder: t("views.index.search")
    %span.highlight
    %span.bar
    %label= t("views.landing.search_products")
  = button_tag t("views.landing.search"), data: {disable_with: "<i class='fas fa-spinner fa-spin'></i>"}, "data-toggle": "tooltip", "data-placement": "top", title: t("views.landing.search") do
    %span.sr-only= t("views.landing.search")
    %i.fas.fa-search
-# End Form
