%li.dropdown
  %a.dropdown-toggle{"data-toggle": "dropdown", href: "#", "data-tooltip": "true", "data-placement": "bottom", title: t("activerecord.models.user")}
    %span.visible-xs
      = t("views.navigation.user")
      %i.fas.fa-angle-down
    %span.hidden-xs
      %i.fas.fa-user
  %ul.dropdown-menu.user-dropbown
    - if current_customer
      %li.label
        -# Customer detail render_sync
        = sync partial: "customer_info", resource: current_customer
        -# = sync_new partial: "customer_info", resource: Customer.new
        -# End Customer detail render_sync

      %li
        = link_to orders_path do
          %i.far.fa-newspaper.hidden-xs
          = t("sale.view_orders")
      %li
        = link_to customer_path do
          %i.fas.fa-cog.hidden-xs
          = t("sale.profile")
      %li
        = link_to sign_out_path(email: current_customer.email), method: "delete" do
          %i.fas.fa-lock.hidden-xs
          = t("header.user.lock")
      %li
        = link_to sign_out_path, method: "delete" do
          %i.fas.fa-sign-out-alt.hidden-xs
          = t("header.user.sign_off")

    - else
      %li
        = link_to (sign_in_path) do
          %i.fas.fa-sign-in-alt.hidden-xs
          = t("header.user.sign_in")
      %li
        = link_to (sign_up_path) do
          %i.fas.fa-user-plus.hidden-xs
          = t("header.user.sign_up")
