%li.dropdown
  %a.dropdown-toggle{"data-toggle": "dropdown", href: "#", "data-tooltip": "true", "data-placement": "bottom", title: t("activerecord.models.user")}
    %span.visible-xs
      = t("views.navigation.user")
      %i.fa.fa-angle-down
    %span.hidden-xs
      %i.fas.fa-user
  %ul.dropdown-menu.user-dropbown
    - if current_customer
      -# Customer detail render_sync
      = sync partial: "customer_info", resource: current_customer
      = sync_new partial: "customer_info", resource: Customer.new
      -# End Customer detail render_sync

    - else
      %li
        = link_to (sign_in_path) do
          %i.fas.fa-sign-in-alt.hidden-xs
          = t("header.user.sign_in")
      %li
        = link_to (sign_up_path) do
          %i.fas.fa-user-plus.hidden-xs
          = t("header.user.sign_up")
