!!!
%html
  %head
    %title
      Better and Nice Produce Corp - #{yield(:title)}

    -# Meta information
    %meta{charset: "utf-8"}/
    %meta{content: "text/html;charset=utf-8", "http-equiv": "content-type"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui", name: "viewport"}/
    -# End Meta information

    -# Favicon settings
    = favicon_link_tag asset_path("img/favicon.png"), rel: "icon", type: "image/png"
    %meta{content: "#fef7f8", name: "theme-color"}/
    -# End Favicon settings

    -# OpenGraph info
    %meta{content: "Better and Nice Produce Corp", property: "og:title"}/
    %meta{content: "Better and Nice Produce is at the forefront of produce quality, whit more than 20 years in the business. Serving all the South Florida with the best in gourmet, organic, and specialty pershibles. Better and Nice Produce continues to push the envelopment in quality and Service. Better and Nice Produce is committed to live by its motto, 'Anywhere, anytime, fresh produce on time'.", property: "og:description"}/
    %meta{content: "http://www.betterandnice.com", property: "og:url"}/
    %meta{content: "http://www.betterandnice.com/favicon.png", property: "og:image"}/
    -# End OpenGraph info

    -# CSRF Tags
    = csrf_meta_tags
    -# End CSRF Tags

    -# CSP Tags
    = csp_meta_tag
    -# End CSP Tags

    -# Application assets
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_link_tag "landing", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    -# End Application assets

    -# Render sync config
    = include_sync_config
    -# End Render sync config

  %body{"data-locale": "#{I18n.locale}"}
    -# Render header
    = render "layouts/header_landing"
    -# End Render header

    -# Main content
    = yield
    -# End Main content

    -# Render footer
    = render "layouts/footer_landing"
    -# End Render footer

    %input{type: "hidden", id: "currentCustomer", value: "#{current_customer ? Base64.encode64(current_customer.id.to_s) : Base64.encode64("0")}"}

    -# TouchSwipe script
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js", "data-turbolinks-track": "reload"
    -# End TouchSwipe script
    
    -# Add to Cart script
    = javascript_include_tag "cart", "data-turbolinks-track": "reload"
    -# End Add to Cart script

    -# Landing scripts
    = javascript_include_tag "landing", "data-turbolinks-track": "reload"
    -# End Landing scripts

    -# Barcode script
    = javascript_include_tag "barcode", "data-turbolinks-track": "reload"
    -# End Barcode script

    -# Material input script
    = javascript_include_tag "material-input", "data-turbolinks-track": "reload"
    -# End Material input script
